#### Выводы по анализу данных
1) датасет 0 :
    - данные распределены нормально, много выбросов в признаке f2 - значения менее -6 и более 11
2) датасет 1:
    - признаки f0, f1 распределены нормально, но у признака f1 много выборосов - значения менее -19 и более 9
    - признак f2 скорее дискретный, принимает в основном значения близкие к 0,1,2,3,4 и 5 - по нему построим круговую диаграмму
    - product тоже как будто принимает довольно определенные значения, отсмотрим его отдельно

3) датасет 2:
    - все признаки распределены нормально, большое число выбросов в f0-f2
    - f0 и f1 выбросы менее -4.2 и более 4.6
    - f2 выбросы менее -6 и более 11.5

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/autos.csv')
except FileNotFoundError:
    data = pd.read_csv('/Users/tony_builder/Documents/GitHub/studying/yandex_practicum/12_numeric_methods/data/autos.csv')

data.head()

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Kilometer,RegistrationMonth,FuelType,Brand,Repaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
0,2016-03-24 11:52:17,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,18300,coupe,2011,manual,190,NaN,125000,5,gasoline,audi,yes,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [3]:
data.shape

(354369, 16)

In [4]:
data[(data.Brand == 'bmw') & (data.Model == 'corsa')]

Empty DataFrame
Columns: [DateCrawled, Price, VehicleType, RegistrationYear, Gearbox, Power, Model, Kilometer, RegistrationMonth, FuelType, Brand, Repaired, DateCreated, NumberOfPictures, PostalCode, LastSeen]
Index: []

In [5]:
data[data.Power>=10000][['Price', 'Brand', 'Model', 'Kilometer', 'Power', 'RegistrationYear',
       'RegistrationMonth', 'Gearbox', 'VehicleType', 'FuelType', 'Repaired',
       'PostalCode', 'DateCrawled', 'DateCreated', 'LastSeen']]\
       .sort_values('Power', ascending=False)

,Price,Brand,Model,Kilometer,Power,RegistrationYear,RegistrationMonth,Gearbox,VehicleType,FuelType,Repaired,PostalCode,DateCrawled,DateCreated,LastSeen
219584,4300,mercedes_benz,clk,150000,20000,1999,1,auto,coupe,petrol,no,19406,2016-03-09 15:43:53,2016-03-09 00:00:00,2016-03-30 08:47:08
299180,1500,bmw,5er,150000,19312,1997,1,manual,wagon,NaN,no,21129,2016-03-09 08:53:11,2016-03-09 00:00:00,2016-04-07 11:44:34
114106,9999,bmw,1er,125000,19211,2006,0,manual,sedan,gasoline,NaN,45964,2016-04-03 07:36:21,2016-04-03 00:00:00,2016-04-07 10:16:10
132485,2100,bmw,5er,150000,19208,2001,5,manual,wagon,NaN,yes,59556,2016-03-25 14:55:49,2016-03-25 00:00:00,2016-03-30 05:16:18
63986,3250,opel,omega,150000,17932,2001,6,auto,sedan,petrol,NaN,86641,2016-03-28 11:49:56,2016-03-28 00:00:00,2016-04-06 14:17:21
196532,6000,bmw,5er,150000,17700,2004,7,auto,wagon,gasoline,no,26316,2016-03-20 16:51:48,2016-03-20 00:00:00,2016-04-06 22:45:56
150676,1700,audi,80,5000,17410,1995,0,manual,wagon,petrol,yes,23562,2016-03-09 18:57:50,2016-03-09 00:00:00,2016-03-15 07:17:06
187330,1749,bmw,3er,5000,17019,1989,12,manual,wagon,petrol,NaN,89542,2016-03-17 19:50:23,2016-03-17 00:00:00,2016-03-26 00:46:59
175422,10900,audi,a3,5000,17011,2007,7,auto,sedan,gasoline,NaN,12355,2016-03-19 11:38:23,2016-03-19 00:00:00,2016-03-21 15:20:06
216993,11950,audi,a4,20000,16312,2008,4,manual,convertible,petrol,no,51647,2016-03-10 08:57:25,2016-03-10 00:00:00,2016-03-17 09:16:19
311399,11900,bmw,5er,150000,16311,2007,10,auto,wagon,gasoline,no,33100,2016-04-02 15:50:55,2016-04-02 00:00:00,2016-04-06 14:45:57
181311,5250,mercedes_benz,NaN,90000,16051,1967,6,auto,sedan,petrol,no,49377,2016-03-17 19:39:39,2016-03-17 00:00:00,2016-03-22 01:45:27
248569,5000,skoda,octavia,150000,16011,2018,2,manual,NaN,petrol,yes,12681,2016-03-22 22:55:30,2016-03-22 00:00:00,2016-03-23 07:41:08
205808,3150,alfa_romeo,other,5000,15033,2007,3,manual,coupe,gasoline,no,35716,2016-03-12 16:40:34,2016-03-12 00:00:00,2016-03-17 18:47:28
148466,3650,alfa_romeo,147,125000,15020,2002,11,auto,small,petrol,no,30855,2016-03-23 15:55:50,2016-03-23 00:00:00,2016-04-05 19:17:37
260799,1750,bmw,3er,150000,15017,2003,11,auto,wagon,gasoline,NaN,52525,2016-03-11 13:59:35,2016-03-11 00:00:00,2016-03-11 14:41:51
85229,0,chrysler,ptcruiser,150000,15016,2016,12,manual,NaN,gasoline,NaN,24802,2016-03-18 00:51:03,2016-03-17 00:00:00,2016-03-20 09:51:49
162214,5200,ford,fiesta,150000,15001,2005,12,manual,small,petrol,no,70372,2016-04-04 14:59:24,2016-04-04 00:00:00,2016-04-06 16:17:54
270948,9799,opel,NaN,80000,14009,2011,6,manual,sedan,petrol,no,86415,2016-03-17 23:53:06,2016-03-17 00:00:00,2016-03-23 17:18:38
227634,15499,mercedes_benz,c_klasse,125000,13636,2012,4,manual,wagon,gasoline,no,24983,2016-03-30 16:38:22,2016-03-30 00:00:00,2016-04-07 07:15:50
214169,500,mercedes_benz,e_klasse,150000,13616,2016,8,manual,NaN,NaN,NaN,28717,2016-03-11 19:44:07,2016-03-11 00:00:00,2016-03-20 06:46:17
187971,200,sonstige_autos,NaN,5000,12684,1993,0,manual,other,petrol,no,26725,2016-04-04 15:53:25,2016-04-04 00:00:00,2016-04-06 17:44:48
253791,300,opel,vectra,150000,12512,2017,0,manual,NaN,NaN,yes,88690,2016-03-17 16:55:13,2016-03-17 00:00:00,2016-03-23 05:20:52
346639,1300,mitsubishi,carisma,150000,12512,2000,9,manual,sedan,petrol,NaN,42105,2016-03-25 12:55:36,2016-03-25 00:00:00,2016-04-06 14:44:53
292167,2000,opel,zafira,150000,12512,2003,12,manual,bus,petrol,NaN,52072,2016-03-21 12:49:22,2016-03-21 00:00:00,2016-04-06 07:45:32
163730,9800,ford,galaxy,150000,12510,2016,0,NaN,NaN,gasoline,no,66740,2016-03-28 15:53:47,2016-03-28 00:00:00,2016-04-02 20:18:58
77779,850,opel,astra,30000,12510,2000,10,manual,sedan,NaN,no,23611,2016-03-25 13:36:57,2016-03-25 00:00:00,2016-03-31 20:45:39
62975,2200,volkswagen,polo,150000,12012,1999,3,manual,small,petrol,NaN,9526,2016-03-27 18:47:59,2016-03-27 00:00:00,2016-04-01 19:44:55
100680,3500,audi,80,125000,11635,1993,2,auto,sedan,petrol,no,80809,2016-03-22 16:58:28,2016-03-22 00:00:00,2016-03-26 19:15:28
56971,1995,ford,focus,150000,11530,2002,1,manual,wagon,petrol,no,35759,2016-04-01 21:55:58,2016-04-01 00:00:00,2016-04-05 14:44:36
98619,5500,kia,ceed,150000,11509,2010,9,manual,wagon,NaN,no,15907,2016-03-31 18:54:51,2016-03-31 00:00:00,2016-04-06 13:15:34
272348,125,opel,corsa,125000,11111,1999,11,NaN,small,petrol,NaN,42107,2016-03-28 01:56:13,2016-03-28 00:00:00,2016-04-02 12:44:38
262668,2800,volkswagen,passat,150000,11025,1998,6,manual,wagon,gasoline,NaN,1665,2016-03-06 08:52:49,2016-03-06 00:00:00,2016-03-29 16:18:05
197896,900,audi,a4,150000,11011,1997,5,manual,wagon,gasoline,no,82467,2016-03-11 13:58:35,2016-03-11 00:00:00,2016-03-19 21:44:26
84803,1999,mercedes_benz,NaN,150000,10912,1991,0,auto,sedan,gasoline,no,88069,2016-03-28 10:49:33,2016-03-28 00:00:00,2016-03-30 01:15:32
260878,1500,peugeot,NaN,20000,10910,2006,3,manual,wagon,petrol,yes,56567,2016-03-20 08:36:59,2016-03-20 00:00:00,2016-03-20 15:42:16
96366,1380,renault,megane,150000,10710,2001,10,auto,convertible,NaN,no,71282,2016-03-16 13:46:18,2016-03-16 00:00:00,2016-03-19 10:45:58
205727,4700,volkswagen,transporter,150000,10522,1997,0,manual,bus,gasoline,NaN,87437,2016-03-12 11:43:29,2016-03-12 00:00:00,2016-03-12 11:43:29
96580,4700,volkswagen,transporter,150000,10522,1997,0,manual,bus,gasoline,NaN,87437,2016-03-12 10:36:18,2016-03-12 00:00:00,2016-03-12 10:36:18
25232,10900,volkswagen,caddy,150000,10520,2009,6,manual,bus,gasoline,no,36272,2016-03-28 19:57:39,2016-03-28 00:00:00,2016-04-07 02:47:02
11039,0,fiat,other,150000,10317,1998,8,manual,sedan,petrol,no,57520,2016-03-25 19:55:32,2016-03-25 00:00:00,2016-04-01 19:16:33
183497,650,fiat,bravo,150000,10311,2016,7,manual,NaN,petrol,no,26817,2016-03-21 15:50:54,2016-03-21 00:00:00,2016-03-26 22:45:56
45053,15800,smart,fortwo,30000,10218,2014,3,auto,convertible,petrol,NaN,81373,2016-04-07 07:36:38,2016-04-06 00:00:00,2016-04-07 07:36:38
339642,600,ford,focus,125000,10110,2000,12,manual,sedan,petrol,NaN,35066,2016-03-07 16:58:44,2016-03-07 00:00:00,2016-03-07 17:41:33
107021,3000,smart,NaN,5000,10000,2016,0,NaN,other,NaN,no,32602,2016-03-19 18:49:16,2016-03-19 00:00:00,2016-03-19 18:49:16

с ручной коробкой передач

In [6]:
import pandas as pd

# Пример DataFrame с разными типами данных в столбце
data = {'Столбец': ['строка', ['список'], 'еще строка', {'словарь': 'значение'}]}
df = pd.DataFrame(data)

# Проверяем тип данных в столбце 'Столбец'
result = df['Столбец'].apply(lambda x: type(x) in  [list])

print(result)

0    False
1     True
2    False
3    False
Name: Столбец, dtype: bool

In [7]:
'<25'

'<25'