### работаем со временем 


полезные ссылки:
1) работа со временем в pandas https://medium.datadriveninvestor.com/how-to-work-with-dates-in-pandas-like-a-pro-a84055a4819d
2) примеры работы со временем в pandas: https://www.geeksforgeeks.org/python-working-with-date-and-time-using-pandas/
3) работа с модулем datetime https://python-scripts.com/datetime-time-python

In [1]:
import pandas as pd
 
url = 'http://bit.ly/uforeports'
 
# read csv file
df = pd.read_csv(url)          
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

конвертируем время в формат год - месяц - день - час - минута - секунда

In [2]:
# Convert the Time column to datetime format
df['Time'] = pd.to_datetime(df.Time)
 
df.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

получаем информацию о часах

In [3]:
# Get hour detail from time data
df.Time.dt.hour.head()

0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: int64

получаем информацию об именах дней недели

In [6]:

# Get name of each date
df.Time.dt.weekday_name.head()

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

получаем порядковый номер дня в году

In [5]:
# Get ordinal day of the year
df.Time.dt.dayofyear.head()

0    152
1    181
2     46
3    152
4    108
Name: Time, dtype: int64

#### Узнать текущую дату и поработать с ней

In [7]:
# узнать текущую дату - код выведет кортеж (год, месяц, день, час, минут, секунд...)
import datetime                 # нужно импортировать модуль datetime
now = datetime.datetime.now()
display(now)
print(now)

# но объект не итерируемый! код ниже выдаст ошибку
# print(tuple(now)[0]) 

# а значит нужно пользоваться встроенными методами:
print(now.year, now.month, now.day, now.hour, now.minute, now.second)   # выведет значение типа int, с которым уже можно работать

datetime.datetime(2023, 2, 17, 12, 33, 19, 913945)

2023-02-17 12:33:19.913945
2023 2 17 12 33 19

поработать со столбцом времени в pandas dataframe и получить долпольнительные столбцы разбивки поэлементно

In [8]:
# разбить дату на отдельные элементы можно так:

rng = pd.DataFrame()
rng['date'] = pd.date_range('1/1/2011', periods = 72, freq ='H')
 
# Print the dates in dd-mm-yy format
rng[:5]

# заодно напомню себе, как можно легко экранировать исключить убрать целый блок кода из выполнения 
"""
# Create features for year, month, day, hour, and minute
rng['year'] = rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute  
"""
rng['year'] = rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute  

rng

                  date  year  month  day  hour  minute
0  2011-01-01 00:00:00  2011      1    1     0       0
1  2011-01-01 01:00:00  2011      1    1     1       0
2  2011-01-01 02:00:00  2011      1    1     2       0
3  2011-01-01 03:00:00  2011      1    1     3       0
4  2011-01-01 04:00:00  2011      1    1     4       0
..                 ...   ...    ...  ...   ...     ...
67 2011-01-03 19:00:00  2011      1    3    19       0
68 2011-01-03 20:00:00  2011      1    3    20       0
69 2011-01-03 21:00:00  2011      1    3    21       0
70 2011-01-03 22:00:00  2011      1    3    22       0
71 2011-01-03 23:00:00  2011      1    3    23       0

[72 rows x 6 columns]

#### форматирование даты с помощью метода strftime()

позволяет переписать считанное время в формат, какой ты захочешь: разбивка по значениям данных будет с удобным тебе разделителем

в итоге вернется строка

строго говоря, метод позволяет переводить время в f-строку со всем вытекающим синтаксисом

In [4]:
import datetime
 
a = datetime.datetime.today().strftime("%Y%m%d")
print(a) # '20170405'
 
today = datetime.datetime.today()
print( today.strftime("%m/%d/%Y") ) # '04/05/2017'
 
print( today.strftime("%Y-%m-%d-%H.%M.%S") ) # 2017-04-05-00.18.00

print(today.strftime("%y-%m-%d \n%H:%M:%S"))      # Если вам нужно указать год как двухзначный (“YY”), вы можете заменить %Y на %y.

20230217
02/17/2023
2023-02-17-12.47.20
23-02-17
12:47:20

#### работа с разницей между двумя событиями во времени
при вычитании одной временной метки из другой мы получаем объект timedelta

In [9]:
import datetime
 
# текущее время
now = datetime.datetime.now()
 
then = datetime.datetime(2017, 2, 26)
 
# Кол-во времени между датами.
delta = now - then
 
print(delta.days) # выведет число дней, между текущей датой и временем , сохраненным в переменной then
print(delta.seconds) # аналогично секунд

2182
46471

In [10]:
seconds = delta.total_seconds()
hours = seconds // 3600
 
print(hours) # выведет точное количество часов разницы
 
minutes = (seconds % 3600) // 60
print(minutes) # выведет точное количество минут разницы

52380.0
54.0

#### Модуль time
Модуль time открывает разработчику Python доступ к нескольким связанным со временем функциям. 

Модуль основан на «эпохе», точке, с которой начинается время. 

Для систем Unix, эпоха началась в 1970 году. Чтобы узнать, какая эпоха в вашей системе, попробуйте запустить следующий код:

In [11]:
import time
print(time.gmtime(0))

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

#### time.ctime
Функция time.ctime конвертирует время в секунды, начиная с эпохи, в строку, показывающую местное время. Если вы ничего не передадите данной функции, то настоящее время вернется обратно

In [12]:
import time
print(time.ctime()) #  вернет текущее время
 
print(time.ctime(1384112639)) # 'Sun Nov 10 13:43:59 2013'

Fri Feb 17 12:57:15 2023
Sun Nov 10 21:43:59 2013

#### time.sleep
Функция time.sleep дает разработчику возможность приостановить выполнение его скрипта на определенное количество секунд. Это можно сравнить с добавлением функции «Пауза» в вашу программу. Я нашел этот класс особенно полезным, когда мне нужно было подождать несколько секунд, пока закроется файл, или база данных закончит выполнять свою задачу.


при запуске кода вы увидите фразу «Slept for 2 seconds» пять раз, с интервалом в 2 секунды между каждым сообщением

In [13]:
import time
 
for x in range(5):
    time.sleep(2)
    print("Slept for 2 seconds")

Slept for 2 seconds
Slept for 2 seconds
Slept for 2 seconds
Slept for 2 seconds
Slept for 2 seconds

#### time.time
Функция time.time отображает время в секундах, начиная с эпохи, как число с плавающей запятой. 

использовать данную функцию удобно, когда вам нужно сохранить настоящее время в базу данных, но вам не нужно конвертировать его в метод datetime вашей базы данных

In [15]:
import time
 
x = time.time()
print(x)

1676628387.7934551

возможно удобная плюшка:

 метод ctime принимает время в секундах, так что мы можем использовать time.time для получения количества секунд для передачи их ctime,

In [16]:
import time
 
a = time.ctime(time.time())
print(a)

Fri Feb 17 13:07:46 2023