In [1]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from IPython.display import SVG
from graphviz import Source
from IPython.display import display
import numpy as np

In [2]:
from IPython.display import HTML
style = "<style>svg{width:30% !important;height:30% !important;}</style>"
HTML(style)

In [3]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

### ТЕСТОВАЯ задача - работа с подсчетом числа собак в переданном датасэте

In [4]:
cat_and_dogs_data_train = pd.read_csv('dogs_n_cats.csv')

cat_and_dogs_data_train

     Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0       15    18.0         1        1                   0  собачка
1       20    24.0         1        0                   0  собачка
2       34    40.8         1        1                   0  собачка
3       26    31.2         1        1                   0  собачка
4       16    19.2         1        1                   0  собачка
..     ...     ...       ...      ...                 ...      ...
995      8     3.2         1        0                   1    котик
996      7     2.8         1        0                   1    котик
997      6     2.4         1        0                   1    котик
998      7     2.8         1        0                   1    котик
999     11     4.4         1        0                   1    котик

[1000 rows x 6 columns]

In [5]:
data_test = pd.read_json('dataset_209691_15.txt')

data_test

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      19    22.8         1        1                   0
1      26    31.2         1        1                   0
2      17    20.4         1        1                   0
3      34    40.8         1        1                   0
4      23    27.6         1        1                   0
..    ...     ...       ...      ...                 ...
95     12     4.8         1        0                   1
96     11     4.4         1        0                   1
97      5     2.0         1        0                   1
98      5     2.0         1        0                   1
99     13     5.2         1        0                   1

[100 rows x 5 columns]

In [6]:
data_test['Лазает по деревьям'].value_counts()

0    51
1    49
Name: Лазает по деревьям, dtype: int64

обозначим зависимую переменную и независимые переменные

для обучения возьмем тренировочный датасэт

In [7]:
X = cat_and_dogs_data_train.drop(['Вид'], axis=1 )
y =cat_and_dogs_data_train.Вид

проверочные данные считаем из тестового датасэта

In [8]:
X_test= data_test

обучим наилучший классификатор

In [9]:
best_clf = tree.DecisionTreeClassifier(criterion='entropy')

best_clf.fit(X, y)

DecisionTreeClassifier(criterion='entropy')

### Подсчет результатов

обученная модель умеет предсказывать через встроенный метод predict()

- на вход метод получает тестовые данные, которые необходимо предсказать
- на выходе вернет массив предсказанных данных

In [10]:
result = best_clf.predict(X_test)               # на выходе массив предсказаний


pd.Series(result)[result == 'собачка'].count()

# 1) оборачиваем массив предсказанных значений в пандасовскую серию
# 2) столбцом значений называем result
# 3) фильтруем столбец result по значению "собачка"
# 4) считаем количество значений в отфильтрованном столбце

52

In [16]:
res_data = pd.DataFrame({'result_species': result})
res_data

   result_species
0         собачка
1         собачка
2         собачка
3         собачка
4         собачка
..            ...
95          котик
96          котик
97          котик
98          котик
99          котик

[100 rows x 1 columns]

In [20]:
predicted_test_data = data_test.copy()

predicted_test_data['result_species'] = result

predicted_test_data

#predicted_test_data = data_test['result']

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям result_species
0      19    22.8         1        1                   0        собачка
1      26    31.2         1        1                   0        собачка
2      17    20.4         1        1                   0        собачка
3      34    40.8         1        1                   0        собачка
4      23    27.6         1        1                   0        собачка
..    ...     ...       ...      ...                 ...            ...
95     12     4.8         1        0                   1          котик
96     11     4.4         1        0                   1          котик
97      5     2.0         1        0                   1          котик
98      5     2.0         1        0                   1          котик
99     13     5.2         1        0                   1          котик

[100 rows x 6 columns]