### работаем со временем 


полезные ссылки:
1) работа со временем в pandas https://medium.datadriveninvestor.com/how-to-work-with-dates-in-pandas-like-a-pro-a84055a4819d
2) примеры работы со временем в pandas: https://www.geeksforgeeks.org/python-working-with-date-and-time-using-pandas/
3) работа с модулем datetime https://python-scripts.com/datetime-time-python

### ТАблица работы для stftime - выбор формата вывода даты
https://stepik.org/lesson/570048/step/1?unit=564591

In [58]:
import pandas as pd
 
url = 'http://bit.ly/uforeports'
 
# read csv file
df = pd.read_csv(url)          
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

конвертируем время в формат год - месяц - день - час - минута - секунда

In [59]:
# Convert the Time column to datetime format
df['Time'] = pd.to_datetime(df.Time)
 
df.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

получаем информацию о часах

In [3]:
# Get hour detail from time data
df.Time.dt.hour.head()

0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: int64

получаем информацию об именах дней недели

In [61]:

# Get name of each date
df.Time.dt.weekday.head()

0    6
1    0
2    6
3    0
4    1
Name: Time, dtype: int64

получаем порядковый номер дня в году

In [62]:
# Get ordinal day of the year
df.Time.dt.dayofyear.head()

0    152
1    181
2     46
3    152
4    108
Name: Time, dtype: int64

#### Узнать текущую дату и поработать с ней

In [63]:
# узнать текущую дату - код выведет кортеж (год, месяц, день, час, минут, секунд...)
import datetime                 # нужно импортировать модуль datetime
now = datetime.datetime.now()
display(now)
print(now)

# но объект не итерируемый! код ниже выдаст ошибку
# print(tuple(now)[0]) 

# а значит нужно пользоваться встроенными методами:
print(now.year, now.month, now.day, now.hour, now.minute, now.second)   # выведет значение типа int, с которым уже можно работать

datetime.datetime(2023, 3, 6, 19, 20, 45, 699205)

2023-03-06 19:20:45.699205
2023 3 6 19 20 45

поработать со столбцом времени в pandas dataframe и получить долпольнительные столбцы разбивки поэлементно

In [8]:
# разбить дату на отдельные элементы можно так:

rng = pd.DataFrame()
rng['date'] = pd.date_range('1/1/2011', periods = 72, freq ='H')
 
# Print the dates in dd-mm-yy format
rng[:5]

# заодно напомню себе, как можно легко экранировать исключить убрать целый блок кода из выполнения 
"""
# Create features for year, month, day, hour, and minute
rng['year'] = rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute  
"""
rng['year'] = rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute  

rng

                  date  year  month  day  hour  minute
0  2011-01-01 00:00:00  2011      1    1     0       0
1  2011-01-01 01:00:00  2011      1    1     1       0
2  2011-01-01 02:00:00  2011      1    1     2       0
3  2011-01-01 03:00:00  2011      1    1     3       0
4  2011-01-01 04:00:00  2011      1    1     4       0
..                 ...   ...    ...  ...   ...     ...
67 2011-01-03 19:00:00  2011      1    3    19       0
68 2011-01-03 20:00:00  2011      1    3    20       0
69 2011-01-03 21:00:00  2011      1    3    21       0
70 2011-01-03 22:00:00  2011      1    3    22       0
71 2011-01-03 23:00:00  2011      1    3    23       0

[72 rows x 6 columns]

#### форматирование даты с помощью метода strftime()

позволяет переписать считанное время в формат, какой ты захочешь: разбивка по значениям данных будет с удобным тебе разделителем

в итоге вернется строка

строго говоря, метод позволяет переводить время в f-строку со всем вытекающим синтаксисом

удобно посмотреть таблицу форматирования здесь: https://stepik.org/lesson/570048/step/1?unit=564591

In [4]:
import datetime
 
a = datetime.datetime.today().strftime("%Y%m%d")
print(a) # '20170405'
 
today = datetime.datetime.today()
print( today.strftime("%m/%d/%Y") ) # '04/05/2017'
 
print( today.strftime("%Y-%m-%d-%H.%M.%S") ) # 2017-04-05-00.18.00

print(today.strftime("%y-%m-%d \n%H:%M:%S"))      # Если вам нужно указать год как двухзначный (“YY”), вы можете заменить %Y на %y.

20230217
02/17/2023
2023-02-17-12.47.20
23-02-17
12:47:20

Локализация (перевод формата времени на русский язык)

In [4]:
from datetime import date
import locale

locale.setlocale(locale.LC_ALL, 'ru_RU.UTF-8')

# locale.setlocale(locale.LC_ALL, 'en_EN.UTF-8') для английского

my_date = date.today()
print(my_date.strftime("%A %d %B %Y")) 

my_date

пятница 10 марта 2023

datetime.date(2023, 3, 10)

#### работа с разницей между двумя событиями во времени
при вычитании одной временной метки из другой мы получаем объект timedelta

In [64]:
import datetime
 
# текущее время
now = datetime.datetime.now()
 
then = datetime.datetime(2017, 2, 26)
 
# Кол-во времени между датами.
delta = now - then
 
print(delta.days) # выведет число дней, между текущей датой и временем , сохраненным в переменной then
print(delta.seconds) # аналогично секунд

2199
69709

In [10]:
seconds = delta.total_seconds()
hours = seconds // 3600
 
print(hours) # выведет точное количество часов разницы
 
minutes = (seconds % 3600) // 60
print(minutes) # выведет точное количество минут разницы

52380.0
54.0

#### Модуль time
Модуль time открывает разработчику Python доступ к нескольким связанным со временем функциям. 

Модуль основан на «эпохе», точке, с которой начинается время. 

Для систем Unix, эпоха началась в 1970 году. Чтобы узнать, какая эпоха в вашей системе, попробуйте запустить следующий код:

In [11]:
import time
print(time.gmtime(0))

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

#### time.ctime
Функция time.ctime конвертирует время в секунды, начиная с эпохи, в строку, показывающую местное время. Если вы ничего не передадите данной функции, то настоящее время вернется обратно

In [12]:
import time
print(time.ctime()) #  вернет текущее время
 
print(time.ctime(1384112639)) # 'Sun Nov 10 13:43:59 2013'

Fri Feb 17 12:57:15 2023
Sun Nov 10 21:43:59 2013

#### time.sleep
Функция time.sleep дает разработчику возможность приостановить выполнение его скрипта на определенное количество секунд. Это можно сравнить с добавлением функции «Пауза» в вашу программу. Я нашел этот класс особенно полезным, когда мне нужно было подождать несколько секунд, пока закроется файл, или база данных закончит выполнять свою задачу.


при запуске кода вы увидите фразу «Slept for 2 seconds» пять раз, с интервалом в 2 секунды между каждым сообщением

In [69]:
import time
 
for x in range(5):
    time.sleep(2)
    print("Slept for 2 seconds")

Slept for 2 seconds
Slept for 2 seconds
Slept for 2 seconds
Slept for 2 seconds
Slept for 2 seconds

#### time.time
Функция time.time отображает время в секундах, начиная с эпохи, как число с плавающей запятой. 

использовать данную функцию удобно, когда вам нужно сохранить настоящее время в базу данных, но вам не нужно конвертировать его в метод datetime вашей базы данных

In [15]:
import time
 
x = time.time()
print(x)

1676628387.7934551

возможно удобная плюшка:

 метод ctime принимает время в секундах, так что мы можем использовать time.time для получения количества секунд для передачи их ctime,

In [16]:
import time
 
a = time.ctime(time.time())
print(a)

Fri Feb 17 13:07:46 2023

### Работаем со временем (курс от beegeek python_for_pro )

https://stepik.org/lesson/609341/step/1?unit=604560

Создание даты:

Конструктор типа date сначала принимает год, затем месяц, а уже потом число. Мы также можем использовать именованные аргументы, нарушая указанный порядок date(day=6, month=10, year=1992).

In [3]:
from datetime import date

my_date = date(day=6, month=10, year=1992)

# выдернуть конкретные показатели времени можно так

print('Год =', my_date.year)
print('Месяц =', my_date.month)
print('День =', my_date.day)

Год = 1992
Месяц = 10
День = 6

Текущая дата

In [4]:
from datetime import date

creation_date = date.today()
creation_date

datetime.date(2023, 3, 6)

        Взять название дня недели из даты:

        0 = понедельник
        1
        1 = вторник
        2
        2 = среда
        3
        3 = четверг
        4
        4 = пятница
        5
        5 = суббота
        6
        6 = воскресенье

In [6]:
my_date.weekday()

1

Если требуется определить день недели с нумерацией, начиная с 
1
1, то используется метод isoweekday().

In [7]:
creation_date.isoweekday()      # нумерация недели начинается с 1

1

Получить номер дня, соответствующий дате или получить дату, соответствующую номеру дня

In [8]:
from datetime import date

date1 = date.fromordinal(365)     # дата, соответствуюшая номеру дня 365
date2 = date(1999, 12, 26)

print(date1)
print(date2.toordinal())          # номер дня, соответствующий дате 1999-12-26

0001-12-31
730114

#### Тип данных time

При создании времени (тип данных time) нужно указать часы, минуты, секунды и микросекунды.

In [11]:
from datetime import time
my_time = time(12, 59, 33, 1234)

print(my_time)

12:59:33.001234

обратиться к конкретному времени можно:

In [13]:
print('Часы =', my_time.hour)
print('Минуты =', my_time.minute)
print('Секунды =', my_time.second)
print('Микросекунды =', my_time.microsecond)

Часы = 12
Минуты = 59
Секунды = 33
Микросекунды = 1234

Для создания новой даты на основании уже существующей можно использовать встроенный метод replace(). Он возвращает новую дату с переданными измененными значениями свойств year, month, day.

In [14]:
date1 = date(1992, 10, 6)
date2 = date1.replace(year=1995)            # заменяем год           
date3 = date1.replace(month=12, day=17)     # заменяем месяц и число

print(date1)
print(date2)
print(date3)

1992-10-06
1995-10-06
1992-12-17

### ЗАДАЧИ

Вам доступен список dates, содержащий даты. Дополните приведенный ниже код, чтобы он вывел год и номер квартала каждой даты из данного списка. Компоненты дат должны быть расположены в исходном порядке, каждые на отдельной строке, в следующем формате:

<год>-Q<номер квартала>

In [16]:
from datetime import date

dates = [date(2010, 9, 28), date(2017, 1, 13), date(2009, 12, 25), date(2010, 2, 27), date(2021, 10, 11), date(2020, 3, 13), date(2000, 7, 7), date(1999, 4, 14), date(1789, 11, 19), date(2013, 8, 21), date(1666, 6, 6), date(1968, 5, 26)]

dic_quater = {range(1,4):'1', range(4,7):'2', range(7,10):'3', range(10,13):'4'}

for dat in dates:
    for key in dic_quater:
        if dat.month in key: print(f'{dat.year}-Q{dic_quater[key]}')

2010-Q3
2017-Q1
2009-Q4
2010-Q1
2021-Q4
2020-Q1
2000-Q3
1999-Q2
1789-Q4
2013-Q3
1666-Q2
1968-Q2


Реализуйте функцию get_date_range(), которая принимает два аргумента в следующем порядке:

start — начальная дата, тип date
end — конечная дата, тип date
Функция get_date_range() должна возвращать список, состоящий из дат (тип date) от start до end включительно. Если start > end, функция должна вернуть пустой список.

In [21]:
def get_date_range(start, end):
    from datetime import date
    dates_lst = list(range(start.toordinal(), end.toordinal()+1, 1))
    return list(map(lambda x: date.fromordinal(x), dates_lst))


date1 = date(2021, 10, 1)
date2 = date(2021, 10, 5)

print(*get_date_range(date1, date2), sep='\n')

2021-10-01
2021-10-02
2021-10-03
2021-10-04
2021-10-05

Реализуйте функцию saturdays_between_two_dates(), которая принимает два аргумента в следующем порядке:

start — начальная дата, тип date

end — конечная дата, тип date

Функция должна возвращать количество суббот между датами start и end включительно.

In [57]:
from datetime import timedelta, date

def saturdays_between_two_dates(start, end):
    if end < start:
        start, end = end, start # если end раньше start, меняем местами переменные
    days_between = (end - start).days + 1

    # прикольный счетчик значений: собираем кортеж из единичек для каждой итерации цикла по дням, если этот день - суббота
    # b считаем сумму этого кортежа
    saturday_count = sum(1 for i in range(days_between) if (start + timedelta(i)).weekday() == 5)
    return saturday_count

date1 = date(2020, 7, 26)
date2 = date(2020, 7, 2)

print(saturdays_between_two_dates(date1, date2))

4

Конструкция try - except

как считывать время с клавиатуры бесконечно раз, пока не будет все введено верно?

In [1]:
from datetime import date, time

while True:
    try:
        day, month, year = input('Введите дату в формате ДД.ММ.ГГГГ').split('.')

        my_date = date(int(year), int(month), int(day))

        print('Введена корректная дата:', my_date)
        break
    except:      # перехватываем любую ошибку
        print('Введенная дата не является корректной, попробуйте еще раз')

Введенная дата не является корректной, попробуйте еще раз
Введенная дата не является корректной, попробуйте еще раз
Введенная дата не является корректной, попробуйте еще раз
Введена корректная дата: 3000-12-31

Ураган Эндрю, который обрушился на Флориду 
24
24 августа 
1992
1992 года, был одним из самых дорогостоящих и смертоносных ураганов в истории США. Дополните приведенный ниже код, чтобы он вывел дату 
24
24 августа 
1992
1992 года в трех различных форматах:

в формате YYYY-MM

в формате month_name (YYYY), где month_name – полное название месяца на английском

в формате YYYY-day_number, где day_number – день года

In [2]:
from datetime import date

andrew = date(1992, 8, 24)

print(andrew.strftime('%Y-%m'))   # выводим дату в формате YYYY-MM
print(andrew.strftime('%B (%Y)'))   # выводим дату в формате month_name (YYYY)
print(andrew.strftime('%Y-%j'))   # выводим дату в формате YYYY-day_number

1992-08
August (1992)
1992-237

        Вывести наименьшую дату из двух введенных в формате ISO - причем в виде DD-MM (YYYY)

In [ ]:
one, two = input(), input()

from datetime import date

def to_time(string):
    return date.fromisoformat(string)

print(min(map(to_time, [one,two])).strftime('%d-%m (%Y)'))

        Отсортированные даты: принимает на вход последовательность дат и выводит их в порядке неубывания.

In [ ]:
dates = [input() for _ in range(int(input()))]

from datetime import date

form_dates = sorted(map(lambda x: date.fromisoformat(x), dates))

print(*[date_el.strftime('%d/%m/%Y') for date_el in form_dates])

        Функция print_good_dates()

        Тимур считает дату «интересной», если её год совпадает с годом его рождения, а сумма номера месяца и номера дня равна его возрасту. Год рождения Тимура — 1992, возраст — 29 лет.

        Функция должна выводить «интересные» даты в порядке возрастания, каждую на отдельной строке, в формате  month_name DD, YYYY, где month_name — полное название месяца на английском. 

        Примечание 1. Если в функцию передается пустой список или список без интересных дат, функция ничего не должна выводить

In [19]:
def print_good_dates(dates):
    from datetime import date
    temp_lst = [somedate for somedate in dates if somedate.year ==1992 \
                  and somedate.month + somedate.day == 29]
    good_dates = map(lambda x: x.strftime("%B %d, %Y"),sorted(temp_lst))
    return print(*good_dates, sep='\n')

dates = [date(1992, 10, 19), date(1991, 12, 6), date(1992, 9, 20)]

print_good_dates(dates)

September 20, 1992
October 19, 1992

In [4]:
from datetime import date
sd = date(1993, 9, 15)
sd.day

15

        Функция вернет булево значение - проверка на корректность вводимой даты

In [24]:
def is_correct(day, month, year):
    from datetime import date
    try:
        date(year,month,day)
        return True

    except:
        return False

print(is_correct(31, 13, 2021))

False

        Корректные даты
        Напишите программу, которая принимает на вход последовательность дат и проверяет каждую из них на корректность.

        Формат входных данных
        На вход программе подается последовательность дат в формате DD.MM.YYYY, каждая на отдельной строке. Концом последовательности является слово end.

        Формат выходных данных
        Программа должна для каждой введенной даты вывести текст Корректная или Некорректная в зависимости от того, является ли дата корректной, а затем вывести количество корректных дат.

In [ ]:
dates = [input()]
while input()!= 'end':
    dates.append(input())
verified_dates =

In [6]:
dates_temp = []

from datetime import date
while 'end' not in dates_temp:
    dates_temp.append(input())


dates = [map(int, el.split('.')[::-1]) for el in dates_temp[:-1]]

def is_correct(some_date):
    from datetime import date
    year,month,day = some_date
    try:
        date(year,month,day)
        return 'Корректная'

    except:
        return 'Некорректная'

res_lst = list(map(is_correct, dates))

print(*res_lst, sep = '\n')
print(len([elem for elem in res_lst if elem == 'Корректная']))

Корректная
Некорректная
Корректная
Корректная
Некорректная
3

Комбинирование datetime отдлельно из даты и времени - метод combine

In [8]:
from datetime import date, time, datetime

my_date = date(1992, 10, 6)
my_time = time(10, 45, 17)
my_datetime = datetime.combine(my_date, my_time)

print(my_datetime)

1992-10-06 10:45:17

        Всемирное координированное время (Coordinated Universal Time, UTC) — стандарт, по которому общество регулирует часы и время. Московское время соответствует UTC+3.

In [9]:
print(datetime.now())           # текущее локальное время (московское) на момент запуска программы
print(datetime.utcnow())        # текущее UTC время на момент запуска программы

2023-03-13 08:17:17.244494
2023-03-13 05:17:17.247980

### Перевести строку в объект datetime - метод strptime

In [10]:
from datetime import datetime

datetime0 = datetime.strptime('10.08.2034 13:55:59', '%d.%m.%Y %H:%M:%S')
datetime1 = datetime.strptime('10/08/21', '%d/%m/%y')
datetime2 = datetime.strptime('Tuesday 10, August 2021', '%A %d, %B %Y')
datetime3 = datetime.strptime('18.20.34', '%H.%M.%S')
datetime4 = datetime.strptime('2021/08/10', '%Y/%m/%d')
datetime5 = datetime.strptime('10.08.2021 (Tuesday, August)', '%d.%m.%Y (%A, %B)')
datetime6 = datetime.strptime('Year: 2021, Month: 08, Day: 10, Hour: 18.', 'Year: %Y, Month: %m, Day: %d, Hour: %H.')

print(datetime0, datetime1, datetime2, datetime3, datetime4, datetime5, datetime6, sep='\n')

2034-08-10 13:55:59
2021-08-10 00:00:00
2021-08-10 00:00:00
1900-01-01 18:20:34
2021-08-10 00:00:00
2021-08-10 00:00:00
2021-08-10 18:00:00

Для создания новой даты-времени на основании уже существующей можно использовать метод replace(). Он возвращает новый объект datetime с переданными измененными значениями атрибутов.

In [11]:
datetime1 = datetime(1992, 10, 6, 10, 12, 45)
datetime2 = datetime1.replace(year=1995, month=12)         
datetime3 = datetime1.replace(day=17, hour=14, minute=37)

print(datetime1)
print(datetime2)
print(datetime3)

1992-10-06 10:12:45
1995-12-06 10:12:45
1992-10-17 14:37:45

Удобство работы с методом strftime и с strptime в том, что методы полноценно работают именно как f-строки:
- можно вводить и использовать текст целиком, чтобы взять оттуда дату

In [12]:
from datetime import datetime

text = 'Дорогой дневник, 11.02.2021 произошло нечто невероятное. На часах было 18:09..'
pattern = 'Дорогой дневник, %d.%m.%Y произошло нечто невероятное. На часах было %H:%M..'

dt = datetime.strptime(text, pattern)

print(dt)   # вернет дату, считанную из strf-строки

2021-02-11 18:09:00

Преобразовать секунды seconds (прошедшие от начала эпохи) в объект datetime и, наоборот, объект datetime в секунды (прошедшие от начала эпохи).

In [13]:
from datetime import datetime

seconds = 2483228800
dt = datetime(2011, 11, 4)

print(datetime.fromtimestamp(seconds))
print(dt.timestamp())

2048-09-09 04:46:40
1320357600.0

### Задачи

Вам доступен список times_of_purchases, содержащий даты (тип datetime), в которые были совершены покупки в некотором интернет-магазине. Дополните приведенный ниже код, чтобы он вывел текст До полудня, если большее число покупок было совершено до полудня, или текст После полудня в противном случае.

In [37]:
from datetime import datetime

times_of_purchases = [datetime(2017, 10, 1, 12, 23, 25), datetime(2017, 10, 1, 15, 26, 26), 
                      datetime(2017, 10, 1, 15, 42, 57), datetime(2017, 10, 1, 17, 49, 59), 
                      datetime(2017, 10, 2, 6, 37, 10), datetime(2017, 10, 2, 6, 42, 53), 
                      datetime(2017, 10, 2, 8, 56, 45), datetime(2017, 10, 2, 9, 18, 3), 
                      datetime(2017, 10, 2, 12, 23, 48), datetime(2017, 10, 2, 12, 45, 5), 
                      datetime(2017, 10, 2, 12, 48, 8), datetime(2017, 10, 2, 12, 10, 54), 
                      datetime(2017, 10, 2, 19, 18, 10), datetime(2017, 10, 2, 12, 31, 45), 
                      datetime(2017, 10, 3, 20, 57, 10), datetime(2017, 10, 4, 7, 4, 57), 
                      datetime(2017, 10, 4, 7, 13, 31), datetime(2017, 10, 4, 7, 13, 42), 
                      datetime(2017, 10, 4, 7, 21, 54), datetime(2017, 10, 4, 14, 22, 12), 
                      datetime(2017, 10, 4, 14, 50), datetime(2017, 10, 4, 15, 7, 27), 
                      datetime(2017, 10, 4, 12, 44, 49), datetime(2017, 10, 4, 12, 46, 41), 
                      datetime(2017, 10, 4, 16, 32, 33), datetime(2017, 10, 4, 16, 34, 44), 
                      datetime(2017, 10, 4, 16, 46, 59), datetime(2017, 10, 4, 12, 26, 6)]

bool_dates =list(map(lambda x: x.hour>=12, times_of_purchases))

print(('До полудня', "После полудня")\
      [bool_dates.count(True) >  \
       bool_dates.count(False)])

После полудня

Вам доступны список dates, содержащий даты, и список times, содержащий времена. Количество элементов в этих списках одинаковое. Дополните приведенный ниже код, чтобы он вывел datetime объекты, полученные путем объединения элементов списков dates и times, находящихся на одинаковых позициях. Полученные объекты должны быть расположены в порядке возрастания секунд, каждый на отдельной строке.

In [40]:
from datetime import date, time, datetime

dates = [date(1793, 8, 23), date(1410, 3, 11), date(804, 11, 12), date(632, 6, 4),
         date(295, 1, 23), date(327, 8, 24), date(167, 4, 16), date(229, 1, 24), 
         date(1239, 2, 5), date(1957, 7, 14), date(197, 8, 24), date(479, 9, 6)]

times = [time(7, 33, 27), time(21, 2, 10), time(17, 20, 47), time(20, 8, 59), 
         time(12, 42, 56), time(15, 9, 57), time(17, 47, 9), time(9, 40, 2), 
         time(11, 47, 1), time(17, 27, 10), time(17, 55, 40), time(9, 14, 9)]

print(*sorted([datetime.combine(dates[i], times[i]) for i in range(len(dates))],
               key=lambda x:x.second), sep = '\n')

1239-02-05 11:47:01
0229-01-24 09:40:02
0167-04-16 17:47:09
0479-09-06 09:14:09
1410-03-11 21:02:10
1957-07-14 17:27:10
1793-08-23 07:33:27
0197-08-24 17:55:40
0804-11-12 17:20:47
0295-01-23 12:42:56
0327-08-24 15:09:57
0632-06-04 20:08:59

Ученики онлайн-школы BEEGEEK решили выяснить, кто из них быстрее всех решит домашнее задание по математике. Для этого каждый ученик зафиксировал время начала и окончания решения своей домашней работы.

Вам доступен словарь data, содержащий результаты учеников. Ключом в словаре является имя ученика, а значением — кортеж, первый элемент которого — время начала решения, второй элемент — время окончания решения. Дополните приведенный ниже код, чтобы он вывел имя ученика, который затратил на решение домашнего задания меньше всего времени.

In [57]:
from datetime import datetime

data = {'Дима': ('03.11.2021 09:31:18', '03.11.2021 11:41:28'), 
        'Геор': ('01.11.2021 09:03:04', '01.11.2021 12:40:35'), 
        'Анна': ('02.11.2021 04:41:54', '02.11.2021 05:39:40'), 
        'Илина': ('02.11.2021 01:36:40', '02.11.2021 04:48:27'), 
        'Герман': ('04.11.2021 07:51:19', '04.11.2021 09:53:53'), 
        'Руслан': ('01.11.2021 11:26:06', '01.11.2021 12:56:24'), 
        'Лера': ('03.11.2021 11:09:41', '03.11.2021 14:37:41'), 
        'Егор': ('03.11.2021 05:29:38', '03.11.2021 06:01:59'), 
        'Максим': ('05.11.2021 13:05:03', '05.11.2021 14:27:41'), 
        'Саша': ('03.11.2021 04:14:26', '03.11.2021 05:10:58'), 
        'Марина': ('05.11.2021 15:21:06', '05.11.2021 18:33:46')}

import numpy as np

dic_timestamps_delta = {key: abs(np.diff(list(map(lambda x: (datetime.timestamp(datetime.strptime(x,'%d.%m.%Y %H:%M:%S')))
                                                    ,list(data[key])))))[0] \
                  for key in data}

for key in dic_timestamps_delta:
    if dic_timestamps_delta[key] == min(dic_timestamps_delta.values()):
        print(key)

Егор

Дневник космонавта 🌶️

Вам доступен текстовый файл diary.txt, в который космонавт записывал небольшие отчёты за день. Каждый новый отчёт он мог записать либо в начало файла, либо в середину, либо в конец. Все отчеты разделены между собой пустой строкой. Каждый новый отчёт начинается со строки с датой и временем в формате DD.MM.YYYY; HH:MM, после которой следуют события, произошедшие за указанный день:

Напишите программу, которая расставляет все записи космонавта в хронологическом порядке и выводит полученный результат.

Дикий кайф:

- читаем файл ЦЕЛИКОМ! непострочно
- бьем файл в список по строкам, разделенным ДВУМЯ переходами на новую строку
- сортируем список с ключом = дата (а дату переводим в тип datetime)
- печатаем с переходом на новую строку

In [169]:
with open('/Users/tony_builder/Documents/GitHub/studying/Python_stepic_beegeek/python for professional/diary.txt', 
          'r', encoding='utf-8') as file: 
    diary_entries = file.read().split("\n\n")


print(*sorted(diary_entries, key= lambda x:datetime.strptime(x[:17], '%d.%m.%Y; %H:%M')), sep='\n\n')

26.02.2008; 18:55
I can't believe I've been up here for 3 weeks already. It's been overwhelming in so many ways.

27.02.2008; 19:51
The past three weeks have been a blur of new sensations, out-of-this-world experiences, and hard work.

01.03.2008; 18:01
The launch was amazing - very smooth - it could have been a ride at an amusement park.
For those of us on the middeck (without windows), it was just a little shaking and rumbling, surprisingly benign.
Of course, the G's picked up, dropped off as we pass through the maximum dynamic pressure phase (for those who know what I'm talking about), and then ramped back up again to 3 G's.
Having recently spent some time in the Russian centrifuge to practice emergency Soyuz descents, which can hit 8 G's for up to around 40 seconds, 3 G's is easy.
The fact that it is sustained for a few minutes makes it a little uncomfortable, but it was little more than confirmation that we're getting somewhere.

02.03.2008; 17:43
It was a great ride up. I couldn't believe that a lifetime of wishing for this was suddenly happening all in that moment.
It was an unforgettable 8 1/2 minutes.

04.03.2008; 21:59
Adapting to zero-G has been a lot of fun.
We had many hours of busy work to do immediately 'post insertion,' as we call it.
Of course, as soon as I possibly could I went up to the flight deck to see the view, and wow, it was incredible.
The first sensation of looking out the window was very disorienting. Everything seemed to be floating - me, the shuttle, and the Earth, and all in different orientations.

08.03.2008; 22:03
That next day was very busy getting the shuttle ready for the work we were going to do on the station - preparing equipment and supplies for transfer, checking out the EVA suits, maneuvering the shuttle, and learning how to do everything in zero-G.
The best part of the initial flight was approaching the space station.
When we first caught sight of it, the view was straight out of a science fiction movie, it was awesome.
Usually the shuttle flies sort-of upside down and backwards - this is best for thermal radiation, communication, and micrometeoroid protection. So normally, looking up out of the overhead windows is looking straight down at the Earth, and the front windows point in the direction you just came from. For approaching the station, though, we were in a 'normal' airplane-type attitude - so wings level, Earth below, facing forward.
The view from the cockpit of the shuttle was just staggering. You could see more than 180 degrees from the left to right side of the cockpit, and the sense of flying over the Earth in a spaceship was just incredible.
It was at this moment that I realized what is so special about the view from up here, and it is not what I anticipated.

11.03.2008; 16:13
In an airplane, during the day, the sky is, of course, still blue, no matter how high you go.
If you fly higher you see further, so that is not unexpected.
But the first thing that hit me with this view was that it was daylight, we were flying over the sunlit side of the Earth, yet most of what we saw out the window was the pitch blackness of empty space.
It didn't matter that I've seen it this way on Star Trek or any other science fiction movie a thousand times.
Seeing so much blackness, while seeing the Earth so brightly lit, was a contrast that surprised me more than expected.
Although we are not so far away from the Earth in this orbit, different from being in an aircraft, the sensation was of two objects, our ship and the Earth, both floating in a dark void.
And then there was another feeling. It wasn't that the Earth looked small, in fact it looks huge - the biggest thing you've ever seen - but from here you can see its shape, its size, and you get a gut feeling of being able to measure it with your own eyes.
It's not the view, but this feeling that goes with it, of being able to measure it, that really washed over me as we began our approach to the station.

14.03.2008; 17:14
The first sight of the station was so cool.
If you've ever flown at night, you know how you can easily spot other aircraft.
There are all the lights on the ground, and then if you scan the above horizon you see the lights of other aircraft.
They are so easy to pick out because somehow you have a viewpoint that enables you to see other aircraft at your altitude (or above).
With the Earth below and darkness above, the space station first appeared as a bright dot - clearly, or seemingly, the only other spaceship above the planet.
It didn't take long before it started taking shape, and then it grew more and more beautiful as its details came into focus.
Having seen all the various parts of the station in training in various countries, it was still an unbelievable image to see this massive structure cruising along at 17,500 miles per hour high above the Earth.
It's as large as two football fields side-by-side, and seeing all the pieces together forming one coherent spaceship was very impressive.

15.03.2008; 20:32
The space station is a huge and very impressive facility that we humans have somehow managed to build.
There's no doubt that building this space station is one of humanitys greatest achievements.
Despite working on it for 15 years, and knowing what every part of it looks like in great detail, I felt like I was seeing it for the very first time.
It was the real thing - not a mock-up, not a simulation, not a picture, but another spaceship, a huge one, flying in formation with us in space.
How cool is that? Wow! Incredible. It felt like we were in a movie. What could be more cool than this?
Well, opening the hatches and being greeted, not by space aliens, but by some of your best friends.

17.03.2008; 19:09
Just before docking, Garrett called on the radio and said, You guys have no idea how happy we are to see you.
Arriving at my new home for the next 6 months, I felt exactly the same. How wonderful it was to meet our friends and colleagues who we have trained and traveled with for years, in this amazing place.
Every one of the 10 of us, who spent the next 10 days on the station together, have been astronauts or cosmonauts for about 10 years (a few 8, a few others 12).
Eight of us were still rookies prior to this mission.
The first time I met Sergei, our commander on the station, we did a water survival course together in the Black Sea - that was 7 years ago.
Mike Fossum, Garrett Reisman, and Ken Ham were all in my class - the 17th group selected in 1998.
We've done everything from wilderness survival to T-38 training to field geology trips together.
Karen Nyberg and I supported the Expedition 6 crew on the space station together - that was 3 years of traveling to/from Russia during their training, working in Mission Control as CapCom during their mission, and supporting their families, especially when the Columbia accident occurred and they were the crew who was still onboard the station. Sergei, Oleg, and I have been training together for the better part of a year, but all three of us have been training specifically for a long-duration space station mission for much longer - many years.
Anyway, one of the really neat things about this whole adventure is that by the time you're doing it, everyone you're doing it with is a long-time friend.
This even holds true for the folks on the ground. Every voice I've heard on the radio so far has been someone that I know.

22.03.2008; 13:37
The next 10 days were just a blur of activity.
My role was divided mainly between robotics and EVA preparation.
The mission was otherwise non-stop robotics using 3 different robotic arms. As you know, it all went incredibly well - exactly as planned.
The simulations on the ground are so perfect, that it was difficult to keep in mind that something huge was actually moving out there.
We just went through the procedures and a myriad of checks and double-checks as we always did in training. Grappling, moving and connecting large space modules were amazingly straight forward given the incredible tools we have and the army of experts on the ground who built them and know what they're doing.

23.03.2008; 19:16
The robotics was a lot of fun, and opening the Kibo (JEM - Japanese Experiment Module) and flying in there for the first time was really something.
At first it did not have any panels or racks installed, and so we had most of the cylindrical volume open.
It was, and still is, by far, the largest and most open volume within the station.
For a few wild and crazy minutes we had 10 people flying around in all directions.
Then back to work, and the next several days involved installing system and science racks, hooking everything up to cooling, power, data, air-flow, etc.

25.03.2008; 23:31
At the far end of the JEM, there are two very large, port-facing windows, which are awesome.
Most other windows on the station point down, which is great for Earth observations and photography, but you can't get a big picture perspective from that view.
The JEM windows face the horizon, and the views are incredible.
No doubt I'll be spending much of my free time gazing out of those windows, looking over the Earth, and just wondering what it all means.

26.03.2008; 19:17
I'm sealed inside the descent capsule of the Soyuz vehicle, while my crew-mates perform their first Russian spacewalk (EVA).
At this moment Sergei and Oleg are in their spacesuits and going through their checkouts before opening the hatch.

02.04.2008; 17:52
Why am I in the Soyuz? Well, the Soyuz is docked to the Russian docking compartment, and this is the module from which they need to depress and repress for the EVA.
Since the Soyuz is our rescue vehicle, I need to be able to reach it in case of an emergency.
During the EVA the docking compartment will be at vacuum, so if I stayed on the station, there would be a vacuum between me and the rescue vehicle.
So the result is that I had to move from the voluminous and comfortable space station to the incredibly compact descent capsule.

03.04.2008; 18:22
So it is me plus three spacesuits (of the re-entry type, not spacewalking type) and a ton of other stuff that they wanted us to have with us in case of an emergency.
Should there be some kind of serious problem during the EVA, such as not being able to repressurize the docking compartment, the idea is that they would enter the Soyuz upper compartment, and they would repressurize within the Soyuz.
In that case we would still be all together and could leave the Space station, re-dock to another docking port, and/or return to Earth if the situation called for that.
So to prepare for this remote possibility, we just finished closing all the hatches within the station, isolating all the modules from each other, and otherwise did a long list of tasks that give the ground the greatest flexibility in managing the station in the case that there is no crew onboard for a while.
My greatest concern right now is just that the EVA goes smoothly and safely, and that we can get back into the station when it's all over.

04.04.2008; 18:55
With all the extra stuff in the Soyuz descent module, I have just enough room to be wedged between the control panel and the seats.
Lying across the 3 seats, I still cant straighten my legs (but almost).
I have the 3 suits in the 3 seats, plus I have a huge extra bag of supplies and equipment.

05.04.2008; 16:17
Obviously, Ive got a laptop computer.
I also have some extra batteries, some food and water, extra clothes because it gets cold in here, a camera, a book, and, most importantly, Ive got several episodes of Star Trek and StarGate I on my computer to watch.
So this is my plan... I'm going to watch the world go by out the window and watch Star Trek on my laptop.
That way, I can marvel at our planet and our existence, while dreaming of the future. What could be better than that!?

07.04.2008; 20:20
OK, 4 hours later now, and on my 3rd of 5 laptop batteries.
Ive got a great setup here. I need to keep the headset on to talk to Mission Control in Moscow if needed (and to answer their calls).
But Ive got my ear-buds under the headset and hooked up to my portable media player.
So at the moment I'm listening to some great jazz music.
What a great feeling it is to be here! I was going to say that it seems like Gods view of everything we know, but actually, the grandeur of this view might be attributed more to its simplicity or purity.

09.04.2008; 17:31
The sky is pitch black, as black as black can get, and this is immediately adjacent to the sunlit Earth, which is so bright you can hardly look at it.
The ocean is a rich and bright blue. The clouds form bright white and artistic patterns on a continental scale.
The shorelines seem like theyve been drawn freehand and are everywhere, very sharp boundaries between brown and blue.
The scale of everything and the clarity are just overwhelming and so beautiful.
On the other hand, there is so much beauty and complexity that you cannot see from here.
The contrast between the view and the detail is striking.
There is this immense wonder of nature below me, but hidden within it is the complexity of the civilization that it must host in order to create my current situation.
The history and culture and knowledge and infrastructure and technology that is required to somehow put me here at this particular window listening to great jazz – there is no way to even begin to appreciate the richness and complexity we have down there without swooping all the way down and being equally overwhelmed by the variety of life, culture, cities, arts, science and machinery that we humans somehow developed from the pure Earth, air, water, and fire (the sun) seen from here.

11.04.2008; 22:46
The Soyuz vehicle is shaking back and forth and I see some sunlit particles flying off into space.
It must be Sergei and Oleg climbing around on the outside.
They are cutting away a part of the micrometeoroid and thermal protection blanket to access one of the pyro bolts that may have been the source of the problem with the last Soyuz re-entry.
One of their tasks is to remove one of these bolts and bring it inside.
Their work today may help the Control Center in Moscow understand what is going on with these pyro bolts, and it may also hopefully prevent a similar incident with this Soyuz when they ride it home in October.
Its cool to see these small pieces float away, but on the other hand, I know that these are new pieces of debris that are moving at 28,000 km/hr, and unless they happen to be in exactly your orbit, they can hit you with a good fraction of that velocity.

12.04.2008; 21:38
My 3rd battery is about to quit.
Its actually a really cool feeling to be isolated in this capable little spacecraft, looking out over the Earth, while typing this journal.
I wish my office had a view like this (although it does have the advantage of a bathroom down the hall!).

13.04.2008; 22:15
All is peaceful and quiet on the Station and seemingly on Earth.
There's a continuous humming sound onboard, which is only really noticeable at a time like this.
It's reassuring somehow. It feels like the hum of an engine running and I always have to fight the sensation that this background noise is something that keeps us speeding along through space.
Actually, it is just the sound of fans that are continuously circulating the air.
We're so accustomed to the idea that an engine must be running to keep a vehicle going, that the explanation for the sound is practically a subconscious response.
I found out how deeply I'm connected to this sound when the other night I woke up because it stopped.
I would have never thought it possible to wake me up by turning off a noise. That was yesterday and it was a very difficult day for us.
On the very last operational day of Expedition 17 we found ourselves on a Space Station in survival mode.

15.04.2008; 15:53
I guess it was Murphy's Law's way of making sure we got to see it all during our mission. Two days ago we lost the liquid separator pump for our toilet.
At first, it didn't seem to be a similar problem to what had happened before I arrived over 4 months ago.
My colleagues configured the Soyuz vehicle facilities to support us in the meantime, but there's a maximum of a two-day capacity there.
That same night one of the relay channels failed on the Russian segment, which resulted in a cascade of failures that I believe explains why some faulty smoke detector signals went off, thus shutting down all the air circulation, oxygen generation, CO2 scrubbing, and impurity removal.
This is an automatic response to prevent a fire from spreading.
At the same time, some aspect of the original failure caused a loss of other systems that resulted in the transition to survival mode.
We're actually still waiting to hear details about what happened. Fortunately, it isn't that big of a deal to be in survival mode.
We can operate onboard for quite some time in this mode, and it doesn't necessarily imply a potential evacuation. However, that depends on what the problem is.
We heard a lot of sirens and alarms for many hours. Houston and Moscow were extremely busy all day recovering.
The whole situation started in the very early morning but everything was back to normal by the end of the day, including the bathroom facilities (after putting in a new separator).
All in a day's work for the Control Centers.

17.04.2008; 23:11
We celebrated the end of Expedition 17 that night by hosting a party for the whole Houston team.
This was in the planning for a while and it was great to be able to thank and congratulate the team on all their great work for the past 6 months.
It's been a very successful mission and has gone very smoothly.
The installation of the new Japanese module, and the subsequent work to get the laboratory completely out-fitted and operational for science, was a huge accomplishment for the team (and for Japan).
Being part of this team and this crew has been an amazing and rewarding experience.
I'm going to miss my crewmates and the ground team that I've gotten to know so well, once we hand-over to the Expedition 18 team.

20.04.2008; 17:08
It's a few days later now and three new guys should be docking with us on the Station in 9 hours.
This weekend has been a whirlwind of activity trying to prepare the Station and ourselves for the 10 days ahead.
The Station is about as clean as it's going to get. It's been chaos recently because we've been relocating racks from one module to another for a few weeks.
Each of these moves involved relocating a ton of temporarily stowed or configured things like laptops, handrails, hoses, wires, and a hundred other devices and tools and notes that were there (usually) for a reason.
The goal was to prepare the Station for the arrival of some new racks with the Space Shuttle in about a month. Water recycling equipment, new crew quarters, a galley and a hygiene station are among the new racks that are coming up. With the new equipment, the Station will be able to support a long duration crew of 6 beginning in the Spring of 2009.
In the meantime we have a few new large gaps of open space, which means there's suddenly an opportunity to do some advanced acrobatics. Our celebration of the last night (with just the three of us) was to take some video of us enjoying this new empty space as we performed daring stunts of acrobatic flying, while trying not to break anything (including our heads).
If you've ever seen that footage of the SkyLab astronauts trying to run in a circle around the inner circumference of their module, then you get the idea.
We only had two sides open, so it was more like jumping between two trampolines that faced each other, but it was a lot of fun.

21.04.2008; 16:17
The next 10 days will undoubtedly be extremely busy, fun, and exhausting. We'll basically skip next weekend and rest again after my current roommates depart.
I asked them today if they are ready to go home, and the answer was a resounding YES.

Функция is_available_date() 🌶️

Во время визита очередного гостя сотрудникам отеля приходится проверять, доступна ли та или иная дата для бронирования номера.

Реализуйте функцию is_available_date(), которая принимает два аргумента в следующем порядке:

- booked_dates — список строковых дат, недоступных для бронирования. Элементом списка является либо одиночная дата, либо период (две даты через дефис) 
ex: ['04.11.2021', '05.11.2021-09.11.2021']

- date_for_booking — одиночная строковая дата или период (две даты через дефис), на которую гость желает забронировать номер 
ex: '01.11.2021' или '01.11.2021-04.11.2021'

Функция is_available_date() должна возвращать True, если дата или период date_for_booking полностью доступна для бронирования. В противном случае функция должна возвращать False.

In [204]:
# вспомогательный код - вернуть range for dates  - последовательность дат с заданными началом и концом (обе границы включены)

import pandas as pd
list(map(lambda x: x.date(),list(pd.date_range(date(1992,10,12), date(1992,10,15)))))

[datetime.date(1992, 10, 12),
 datetime.date(1992, 10, 13),
 datetime.date(1992, 10, 14),
 datetime.date(1992, 10, 15)]

In [238]:
from datetime import datetime

# вспомогательная функция записи и  перевода всех занятых дат в список (полная последовательность)
# например: ['04.11.2021', '05.11.2021-09.11.2021'] = [datetime.date(2021, 11, 4),datetime.date(2021, 11, 5),datetime.date(2021, 11, 6),datetime.date(2021, 11, 7),datetime.date(2021, 11, 8),datetime.date(2021, 11, 9)]

def all_booked_dates(booked_dates):
    # сначала перезапишем список всех занятых дат в единый список
    transf_dates1 = []
    transf_dates2 = []
    for dates in booked_dates:
        if dates.__contains__('-'):
            dates_list = dates.split('-')
            dates_list = list(map(lambda x: datetime.strptime(x, '%d.%m.%Y'), dates_list))
            date_start, date_end = dates_list
            import pandas as pd
            ranged_dates = list(map(lambda x: x.date(),list(pd.date_range(date_start, date_end))))
            transf_dates2.extend(ranged_dates)
            
        else: 
            transf_date = datetime.strptime(dates, '%d.%m.%Y').date()
            transf_dates1.append(transf_date)
    
    return {*transf_dates1, *transf_dates2}

# вспомогательная функция перевода и желаемой даты (или последовательности дат) в список

def all_dates_for_booking(some_date):
    if some_date.__contains__('-'):
        dates_for_booking = some_date.split('-')
        dates_for_booking = list(map(lambda x: datetime.strptime(x, '%d.%m.%Y'), dates_for_booking))
        date_start, date_end = dates_for_booking
        import pandas as pd
        dates_for_booking = list(map(lambda x: x.date(),list(pd.date_range(date_start, date_end))))
        
    else: dates_for_booking = [datetime.strptime(some_date, '%d.%m.%Y').date()]
    return set(dates_for_booking)
        

def is_available_date(booked_dates, date_for_booking):
    
    # теперь скажем функции вернуть булево значение от пересечения двух множеств: 
    # - множество забронированных дат 
    # - множество желаемых дат 
    # Если результат непустой - то вернуть False (значит даты пересекаются, нельзя забронировать) 
    # Если результат пустой - то вернуть True (значит даты не пересекаются, можно бронить)
    return len(all_booked_dates(booked_dates) & all_dates_for_booking(date_for_booking)) == 0

dates = ['01.11.2021', '05.11.2021-09.11.2021', '12.11.2021', '15.11.2021-21.11.2021']
some_date = '09.11.2021'
print(is_available_date(dates, some_date))

False