### работаем со временем 


полезные ссылки:
1) работа со временем в pandas https://medium.datadriveninvestor.com/how-to-work-with-dates-in-pandas-like-a-pro-a84055a4819d
2) примеры работы со временем в pandas: https://www.geeksforgeeks.org/python-working-with-date-and-time-using-pandas/
3) работа с модулем datetime https://python-scripts.com/datetime-time-python

### ТАблица работы для stftime - выбор формата вывода даты
https://stepik.org/lesson/570048/step/1?unit=564591

In [58]:
import pandas as pd
 
url = 'http://bit.ly/uforeports'
 
# read csv file
df = pd.read_csv(url)          
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

конвертируем время в формат год - месяц - день - час - минута - секунда

In [59]:
# Convert the Time column to datetime format
df['Time'] = pd.to_datetime(df.Time)
 
df.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

получаем информацию о часах

In [3]:
# Get hour detail from time data
df.Time.dt.hour.head()

0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: int64

получаем информацию об именах дней недели

In [61]:

# Get name of each date
df.Time.dt.weekday.head()

0    6
1    0
2    6
3    0
4    1
Name: Time, dtype: int64

получаем порядковый номер дня в году

In [62]:
# Get ordinal day of the year
df.Time.dt.dayofyear.head()

0    152
1    181
2     46
3    152
4    108
Name: Time, dtype: int64

#### Узнать текущую дату и поработать с ней

In [63]:
# узнать текущую дату - код выведет кортеж (год, месяц, день, час, минут, секунд...)
import datetime                 # нужно импортировать модуль datetime
now = datetime.datetime.now()
display(now)
print(now)

# но объект не итерируемый! код ниже выдаст ошибку
# print(tuple(now)[0]) 

# а значит нужно пользоваться встроенными методами:
print(now.year, now.month, now.day, now.hour, now.minute, now.second)   # выведет значение типа int, с которым уже можно работать

datetime.datetime(2023, 3, 6, 19, 20, 45, 699205)

2023-03-06 19:20:45.699205
2023 3 6 19 20 45

поработать со столбцом времени в pandas dataframe и получить долпольнительные столбцы разбивки поэлементно

In [8]:
# разбить дату на отдельные элементы можно так:

rng = pd.DataFrame()
rng['date'] = pd.date_range('1/1/2011', periods = 72, freq ='H')
 
# Print the dates in dd-mm-yy format
rng[:5]

# заодно напомню себе, как можно легко экранировать исключить убрать целый блок кода из выполнения 
"""
# Create features for year, month, day, hour, and minute
rng['year'] = rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute  
"""
rng['year'] = rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute  

rng

                  date  year  month  day  hour  minute
0  2011-01-01 00:00:00  2011      1    1     0       0
1  2011-01-01 01:00:00  2011      1    1     1       0
2  2011-01-01 02:00:00  2011      1    1     2       0
3  2011-01-01 03:00:00  2011      1    1     3       0
4  2011-01-01 04:00:00  2011      1    1     4       0
..                 ...   ...    ...  ...   ...     ...
67 2011-01-03 19:00:00  2011      1    3    19       0
68 2011-01-03 20:00:00  2011      1    3    20       0
69 2011-01-03 21:00:00  2011      1    3    21       0
70 2011-01-03 22:00:00  2011      1    3    22       0
71 2011-01-03 23:00:00  2011      1    3    23       0

[72 rows x 6 columns]

#### форматирование даты с помощью метода strftime()

позволяет переписать считанное время в формат, какой ты захочешь: разбивка по значениям данных будет с удобным тебе разделителем

в итоге вернется строка

строго говоря, метод позволяет переводить время в f-строку со всем вытекающим синтаксисом

удобно посмотреть таблицу форматирования здесь: https://stepik.org/lesson/570048/step/1?unit=564591

In [4]:
import datetime
 
a = datetime.datetime.today().strftime("%Y%m%d")
print(a) # '20170405'
 
today = datetime.datetime.today()
print( today.strftime("%m/%d/%Y") ) # '04/05/2017'
 
print( today.strftime("%Y-%m-%d-%H.%M.%S") ) # 2017-04-05-00.18.00

print(today.strftime("%y-%m-%d \n%H:%M:%S"))      # Если вам нужно указать год как двухзначный (“YY”), вы можете заменить %Y на %y.

20230217
02/17/2023
2023-02-17-12.47.20
23-02-17
12:47:20

Локализация (перевод формата времени на русский язык)

In [4]:
from datetime import date
import locale

locale.setlocale(locale.LC_ALL, 'ru_RU.UTF-8')

# locale.setlocale(locale.LC_ALL, 'en_EN.UTF-8') для английского

my_date = date.today()
print(my_date.strftime("%A %d %B %Y")) 

my_date

пятница 10 марта 2023

datetime.date(2023, 3, 10)

#### работа с разницей между двумя событиями во времени
при вычитании одной временной метки из другой мы получаем объект timedelta

In [64]:
import datetime
 
# текущее время
now = datetime.datetime.now()
 
then = datetime.datetime(2017, 2, 26)
 
# Кол-во времени между датами.
delta = now - then
 
print(delta.days) # выведет число дней, между текущей датой и временем , сохраненным в переменной then
print(delta.seconds) # аналогично секунд

2199
69709

In [10]:
seconds = delta.total_seconds()
hours = seconds // 3600
 
print(hours) # выведет точное количество часов разницы
 
minutes = (seconds % 3600) // 60
print(minutes) # выведет точное количество минут разницы

52380.0
54.0

#### Модуль time
Модуль time открывает разработчику Python доступ к нескольким связанным со временем функциям. 

Модуль основан на «эпохе», точке, с которой начинается время. 

Для систем Unix, эпоха началась в 1970 году. Чтобы узнать, какая эпоха в вашей системе, попробуйте запустить следующий код:

In [11]:
import time
print(time.gmtime(0))

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

#### time.ctime
Функция time.ctime конвертирует время в секунды, начиная с эпохи, в строку, показывающую местное время. Если вы ничего не передадите данной функции, то настоящее время вернется обратно

In [12]:
import time
print(time.ctime()) #  вернет текущее время
 
print(time.ctime(1384112639)) # 'Sun Nov 10 13:43:59 2013'

Fri Feb 17 12:57:15 2023
Sun Nov 10 21:43:59 2013

#### time.sleep
Функция time.sleep дает разработчику возможность приостановить выполнение его скрипта на определенное количество секунд. Это можно сравнить с добавлением функции «Пауза» в вашу программу. Я нашел этот класс особенно полезным, когда мне нужно было подождать несколько секунд, пока закроется файл, или база данных закончит выполнять свою задачу.


при запуске кода вы увидите фразу «Slept for 2 seconds» пять раз, с интервалом в 2 секунды между каждым сообщением

In [69]:
import time
 
for x in range(5):
    time.sleep(2)
    print("Slept for 2 seconds")

Slept for 2 seconds
Slept for 2 seconds
Slept for 2 seconds
Slept for 2 seconds
Slept for 2 seconds

#### time.time
Функция time.time отображает время в секундах, начиная с эпохи, как число с плавающей запятой. 

использовать данную функцию удобно, когда вам нужно сохранить настоящее время в базу данных, но вам не нужно конвертировать его в метод datetime вашей базы данных

In [15]:
import time
 
x = time.time()
print(x)

1676628387.7934551

возможно удобная плюшка:

 метод ctime принимает время в секундах, так что мы можем использовать time.time для получения количества секунд для передачи их ctime,

In [16]:
import time
 
a = time.ctime(time.time())
print(a)

Fri Feb 17 13:07:46 2023

### Работаем со временем (курс от beegeek python_for_pro )

https://stepik.org/lesson/609341/step/1?unit=604560

Создание даты:

Конструктор типа date сначала принимает год, затем месяц, а уже потом число. Мы также можем использовать именованные аргументы, нарушая указанный порядок date(day=6, month=10, year=1992).

In [3]:
from datetime import date

my_date = date(day=6, month=10, year=1992)

# выдернуть конкретные показатели времени можно так

print('Год =', my_date.year)
print('Месяц =', my_date.month)
print('День =', my_date.day)

Год = 1992
Месяц = 10
День = 6

Текущая дата

In [4]:
from datetime import date

creation_date = date.today()
creation_date

datetime.date(2023, 3, 6)

        Взять название дня недели из даты:

        0 = понедельник
        1
        1 = вторник
        2
        2 = среда
        3
        3 = четверг
        4
        4 = пятница
        5
        5 = суббота
        6
        6 = воскресенье

In [6]:
my_date.weekday()

1

Если требуется определить день недели с нумерацией, начиная с 
1
1, то используется метод isoweekday().

In [7]:
creation_date.isoweekday()      # нумерация недели начинается с 1

1

Получить номер дня, соответствующий дате или получить дату, соответствующую номеру дня

In [8]:
from datetime import date

date1 = date.fromordinal(365)     # дата, соответствуюшая номеру дня 365
date2 = date(1999, 12, 26)

print(date1)
print(date2.toordinal())          # номер дня, соответствующий дате 1999-12-26

0001-12-31
730114

#### Тип данных time

При создании времени (тип данных time) нужно указать часы, минуты, секунды и микросекунды.

In [11]:
from datetime import time
my_time = time(12, 59, 33, 1234)

print(my_time)

12:59:33.001234

обратиться к конкретному времени можно:

In [13]:
print('Часы =', my_time.hour)
print('Минуты =', my_time.minute)
print('Секунды =', my_time.second)
print('Микросекунды =', my_time.microsecond)

Часы = 12
Минуты = 59
Секунды = 33
Микросекунды = 1234

Для создания новой даты на основании уже существующей можно использовать встроенный метод replace(). Он возвращает новую дату с переданными измененными значениями свойств year, month, day.

In [14]:
date1 = date(1992, 10, 6)
date2 = date1.replace(year=1995)            # заменяем год           
date3 = date1.replace(month=12, day=17)     # заменяем месяц и число

print(date1)
print(date2)
print(date3)

1992-10-06
1995-10-06
1992-12-17

### ЗАДАЧИ

Вам доступен список dates, содержащий даты. Дополните приведенный ниже код, чтобы он вывел год и номер квартала каждой даты из данного списка. Компоненты дат должны быть расположены в исходном порядке, каждые на отдельной строке, в следующем формате:

<год>-Q<номер квартала>

In [16]:
from datetime import date

dates = [date(2010, 9, 28), date(2017, 1, 13), date(2009, 12, 25), date(2010, 2, 27), date(2021, 10, 11), date(2020, 3, 13), date(2000, 7, 7), date(1999, 4, 14), date(1789, 11, 19), date(2013, 8, 21), date(1666, 6, 6), date(1968, 5, 26)]

dic_quater = {range(1,4):'1', range(4,7):'2', range(7,10):'3', range(10,13):'4'}

for dat in dates:
    for key in dic_quater:
        if dat.month in key: print(f'{dat.year}-Q{dic_quater[key]}')

2010-Q3
2017-Q1
2009-Q4
2010-Q1
2021-Q4
2020-Q1
2000-Q3
1999-Q2
1789-Q4
2013-Q3
1666-Q2
1968-Q2


Реализуйте функцию get_date_range(), которая принимает два аргумента в следующем порядке:

start — начальная дата, тип date
end — конечная дата, тип date
Функция get_date_range() должна возвращать список, состоящий из дат (тип date) от start до end включительно. Если start > end, функция должна вернуть пустой список.

In [21]:
def get_date_range(start, end):
    from datetime import date
    dates_lst = list(range(start.toordinal(), end.toordinal()+1, 1))
    return list(map(lambda x: date.fromordinal(x), dates_lst))


date1 = date(2021, 10, 1)
date2 = date(2021, 10, 5)

print(*get_date_range(date1, date2), sep='\n')

2021-10-01
2021-10-02
2021-10-03
2021-10-04
2021-10-05

Реализуйте функцию saturdays_between_two_dates(), которая принимает два аргумента в следующем порядке:

start — начальная дата, тип date

end — конечная дата, тип date

Функция должна возвращать количество суббот между датами start и end включительно.

In [57]:
from datetime import timedelta, date

def saturdays_between_two_dates(start, end):
    if end < start:
        start, end = end, start # если end раньше start, меняем местами переменные
    days_between = (end - start).days + 1

    # прикольный счетчик значений: собираем кортеж из единичек для каждой итерации цикла по дням, если этот день - суббота
    # b считаем сумму этого кортежа
    saturday_count = sum(1 for i in range(days_between) if (start + timedelta(i)).weekday() == 5)
    return saturday_count

date1 = date(2020, 7, 26)
date2 = date(2020, 7, 2)

print(saturdays_between_two_dates(date1, date2))

4

Конструкция try - except

как считывать время с клавиатуры бесконечно раз, пока не будет все введено верно?

In [1]:
from datetime import date, time

while True:
    try:
        day, month, year = input('Введите дату в формате ДД.ММ.ГГГГ').split('.')

        my_date = date(int(year), int(month), int(day))

        print('Введена корректная дата:', my_date)
        break
    except:      # перехватываем любую ошибку
        print('Введенная дата не является корректной, попробуйте еще раз')

Введенная дата не является корректной, попробуйте еще раз
Введенная дата не является корректной, попробуйте еще раз
Введенная дата не является корректной, попробуйте еще раз
Введена корректная дата: 3000-12-31

Ураган Эндрю, который обрушился на Флориду 
24
24 августа 
1992
1992 года, был одним из самых дорогостоящих и смертоносных ураганов в истории США. Дополните приведенный ниже код, чтобы он вывел дату 
24
24 августа 
1992
1992 года в трех различных форматах:

в формате YYYY-MM

в формате month_name (YYYY), где month_name – полное название месяца на английском

в формате YYYY-day_number, где day_number – день года

In [2]:
from datetime import date

andrew = date(1992, 8, 24)

print(andrew.strftime('%Y-%m'))   # выводим дату в формате YYYY-MM
print(andrew.strftime('%B (%Y)'))   # выводим дату в формате month_name (YYYY)
print(andrew.strftime('%Y-%j'))   # выводим дату в формате YYYY-day_number

1992-08
August (1992)
1992-237

        Вывести наименьшую дату из двух введенных в формате ISO - причем в виде DD-MM (YYYY)

In [ ]:
one, two = input(), input()

from datetime import date

def to_time(string):
    return date.fromisoformat(string)

print(min(map(to_time, [one,two])).strftime('%d-%m (%Y)'))

        Отсортированные даты: принимает на вход последовательность дат и выводит их в порядке неубывания.

In [ ]:
dates = [input() for _ in range(int(input()))]

from datetime import date

form_dates = sorted(map(lambda x: date.fromisoformat(x), dates))

print(*[date_el.strftime('%d/%m/%Y') for date_el in form_dates])