### –°–ø–∏—Å–∫–∏

In [1]:
numbers = [1, 2, 3, 4]

numbers = numbers.append(5)

print(numbers)

None

In [2]:
letters = ['a', 'b', 'c']

letters[2:6] = ['d', 'e', 'f']

print(letters)

['a', 'b', 'd', 'e', 'f']

–ª—é–±–∞—è –Ω–µ–ø—É—Å—Ç–∞—è –∫–æ–ª–ª–µ–∫—Ü–∏—è –ø—Ä–∏–≤–æ–¥–∏—Ç—Å—è –∫ –ª–æ–≥–∏—á–µ—Å–∫–æ–º—É –∑–Ω–∞—á–µ–Ω–∏—é True

In [3]:
my_list = [[]]

if my_list:
    print('True')
else:
    print('False')

True

In [6]:
numbers = [1, 2, 3, 4]

numbers.extend([])
numbers

[1, 2, 3, 4]

In [7]:
numbers = [1, 2, 3, 4]
numbers.append([])
numbers

[1, 2, 3, 4, []]

In [8]:
python = ['word']

x = python in python

print(x)

False

### –°–ª–æ–≤–∞—Ä–∏ –∏ –º–Ω–æ–∂–µ—Å—Ç–≤–∞

        –î–∞–Ω–∞ —Å—Ç—Ä–æ–∫–∞ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏—è –ª–∞—Ç–∏–Ω—Å–∫–æ–º—É –∞–ª—Ñ–∞–≤–∏—Ç—É: –ø–µ—Ä–≤—ã–π —Å–∏–º–≤–æ–ª —Å—Ç—Ä–æ–∫–∏ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –±—É–∫–≤–µ a, –≤—Ç–æ—Ä–æ–π ‚Äî b, —Ç—Ä–µ—Ç–∏–π ‚Äî c, –∏ —Ç–∞–∫ –¥–∞–ª–µ–µ. –ö–∞–∂–¥—ã–π —Å–∏–º–≤–æ–ª —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –∫–∞–∫ –∑–∞–≥–ª–∞–≤–Ω–æ–π, —Ç–∞–∫ –∏ —Å—Ç—Ä–æ—á–Ω–æ–π –±—É–∫–≤–∞–º. –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–∏–º–≤–æ–ª–æ–≤ –≤ —Å—Ç—Ä–æ–∫–µ —Å–æ–≤–ø–∞–¥–∞–µ—Ç —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –±—É–∫–≤ –≤ –ª–∞—Ç–∏–Ω—Å–∫–æ–º –∞–ª—Ñ–∞–≤–∏—Ç–µ.

        –ù–∞–ø–∏—à–∏—Ç–µ –ø—Ä–æ–≥—Ä–∞–º–º—É, –∫–æ—Ç–æ—Ä–∞—è —Å –ø–æ–º–æ—â—å—é –¥–∞–Ω–Ω–æ–π —Å—Ç—Ä–æ–∫–∏ –ø–µ—Ä–µ–≤–æ–¥–∏—Ç –∑–∞–¥–∞–Ω–Ω—ã–π —Ç–µ–∫—Å—Ç.

In [19]:
# –∏—Å–ø–æ–ª—å–∑—É–µ–º –º–µ—Ç–æ–¥ maketrans(), –∫–æ—Ç–æ—Ä—ã–π –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Å–ª–æ–≤–∞—Ä—å —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏—è –¥–≤—É—Ö —Å–ø–∏—Å–∫–æ–≤ –≤ —Ñ–æ—Ä–º–∞—Ç–µ {—Å–ø–∏—Å1[0] : —Å–ø–∏—Å2[0],... }

def encrypte_str(encrypted_abc, some_string):
    # —Å–æ–∑–¥–∞–µ–º —Å—Ç—Ä–æ–∫—É –∞–ª—Ñ–∞–≤–∏—Ç–∞ –∏ —Å—Ç—Ä–æ–∫—É –∑–∞—à–∏—Ñ—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ –∞–ª—Ñ–∞–≤–∏—Ç–∞
    eng_abc = ''.join([chr(el) for el in range(ord('a'), ord('z')+1)])  

    # —Å—á–∏—Ç—ã–≤–∞–µ–º —Å—Ç—Ä–æ–∫—É, –∫–æ—Ç–æ—Ä—É—é —Ö–æ—Ç–∏–º –ø–µ—Ä–µ–≤–µ—Å—Ç–∏+ –º–µ–Ω—è–µ–º —Ä–µ–≥–∏—Å—Ç—Ä –Ω–∞ —Ç–æ—Ç –∂–µ, —á—Ç–æ –∏ —É –∏—Å—Ö–æ–¥–Ω–æ–≥–æ –∞–ª—Ñ–∞–≤–∏—Ç–∞
    some_string = some_string.lower()

    # —Å–æ–∑–¥–∞–µ–º —Ç–∞–±–ª–∏—Ü—É —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏—è –∑–∞—à–∏—Ñ—Ä–æ–≤–∞–Ω–Ω—ã—Ö —Å–∏–º–≤–æ–ª–æ–≤ - —Å–∏–º–≤–æ–ª–∞–º –∞–ª—Ñ–∞–≤–∏—Ç–∞
    tbl = some_string.maketrans(eng_abc, encrypted_abc)

    return print(some_string.translate(tbl))

In [20]:
a = 'üòÄüòÑüòÅüòÜüòâüòåüòçü•∞üòòüòóüòôüòöüòãüòõüòùüòúü§™ü§®üò´üò©ü•∫üò¢üò≠üò§üò†üò°'
b = 'Dont be so sad!'

encrypte_str(a,b)

üòÜüòùüòõüò© üòÑüòâ üò´üòù üò´üòÄüòÜ!

### –ò–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–µ –∫–æ—Ä—Ç–µ–∂–∏ collections namedtuple
https://stepik.org/lesson/590034/step/1?unit=584966

In [21]:
from collections import namedtuple

Point = namedtuple('Point', ['x', 'y'])     # –æ–±—ä—è–≤–ª—è–µ–º —Ç–∏–ø Point –∏–º–µ–Ω–æ–≤–∞–Ω–Ω–æ–≥–æ –∫–æ—Ä—Ç–µ–∂–∞

point = Point(3, 7)                         # —Å–æ–∑–¥–∞–µ–º –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–π –∫–æ—Ä—Ç–µ–∂ Point

print(point)
print(point.x, point.y)
print(point[0], point[1])
print(type(point))

Point(x=3, y=7)
3 7
3 7
<class '__main__.Point'>

namedtuple(typename, field_names, *, rename=False, defaults=None, module=None)

- –ü–∞—Ä–∞–º–µ—Ç—Ä typename –æ—Ç–≤–µ—á–∞–µ—Ç –∑–∞ –∏–º—è —Å–æ–∑–¥–∞–≤–∞–µ–º–æ–≥–æ —Ç–∏–ø–∞ (—Å—Ç—Ä–æ–∫–∞ —Å —Ç–∏–ø–æ–º, –∫–æ—Ç–æ—Ä—ã–π –Ω—É–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–º –∫–æ—Ä—Ç–µ–∂–µ–º)

- –ø–∞—Ä–∞–º–µ—Ç—Ä field_names –∑–∞ –Ω–∞–∑–≤–∞–Ω–∏—è –ø–æ–ª–µ–π (—Å–ø–∏—Å–æ–∫, —Å–ª–æ–≤–∞—Ä—å, —Å—Ç—Ä–æ–∫–∞, –º–Ω–æ–∂–µ—Å—Ç–≤–æ, –∫–æ—Ä—Ç–µ–∂)

- rename –Ω—É–∂–µ–Ω, –∫–æ–≥–¥–∞ –º—ã –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –∏–º–µ–Ω–∞ –∞—Ä–≥—É–º–µ–Ω—Ç–æ–≤ –∏–∑ –∫–∞–∫–æ–≥–æ-–Ω–∏–±—É–¥—å —Ñ–∞–π–ª–∞

- default –¥–ª—è —É—Å—Ç–∞–Ω–æ–≤–∫–∏ –¥–µ—Ñ–æ–ª—Ç–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é –¥–ª—è –∞—Ä–≥—É–º–µ–Ω—Ç–æ–≤

- –ü–∞—Ä–∞–º–µ—Ç—Ä module –±—ã–ª –¥–æ–±–∞–≤–ª–µ–Ω –≤ Python 3.6 –¥–ª—è —Ç–æ–≥–æ, —á—Ç–æ–±—ã –ø–æ—è–≤–∏–ª–∞—Å—å –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å —Å–µ—Ä–∏–∞–ª–∏–∑–æ–≤–∞—Ç—å/–¥–µ—Å–µ—Ä–∏–∞–ª–∏–∑–æ–≤–∞—Ç—å –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–µ –∫–æ—Ä—Ç–µ–∂–∏ —Å –ø–æ–º–æ—â—å—é –º–æ–¥—É–ª—è pickle.

In [22]:
# –Ω–∞–ø—Ä–∏–º–µ—Ä, —Å–æ —Å—Ç—Ä–æ–∫–æ–π –∏–Ω—Ç–µ—Ä–µ—Å–Ω–µ–µ –≤—Å–µ–≥–æ

from collections import namedtuple

Point = namedtuple('Point', 'x,y')     # –≤ –∫–∞—á–µ—Å—Ç–≤–µ –≤—Ç–æ—Ä–æ–≥–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞ –ø–µ—Ä–µ–¥–∞–µ–º —Å—Ç—Ä–æ–∫—É
point =  Point(2, 4)
print(point)                           # –≤—ã–≤–æ–¥–∏—Ç Point(x=2, y=4)

Point(x=2, y=4)

In [23]:
from collections import namedtuple

Point = namedtuple('Point', 'x y')    # –≤ –∫–∞—á–µ—Å—Ç–≤–µ –≤—Ç–æ—Ä–æ–≥–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞ –ø–µ—Ä–µ–¥–∞–µ–º —Å—Ç—Ä–æ–∫—É
point =  Point(2, 4)
print(point)                          # –≤—ã–≤–æ–¥–∏—Ç Point(x=2, y=4)

Point(x=2, y=4)

–î–æ–ø—É—Å—Ç–∏–º, –º—ã –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –∏–∑ CSV-—Ñ–∞–π–ª–∞ –∏ –ø—Ä–µ–≤—Ä–∞—â–∞–µ–º –∫–∞–∂–¥—É—é —Å—Ç—Ä–æ–∫—É –≤ –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–π –∫–æ—Ä—Ç–µ–∂. –°—Ç—Ä—É–∫—Ç—É—Ä–∞ —Ñ–∞–π–ª–∞ –∏–º–µ–µ—Ç –≤–∏–¥:

name,surname,age,class
Timur,Guev,28,11
Ruslan,Chaniev,22,9
...
–ù–∞–∑–≤–∞–Ω–∏—è –ø–æ–ª–µ–π –º—ã –±–µ—Ä–µ–º –∏–∑ –∑–∞–≥–æ–ª–æ–≤–∫–∞ CSV-—Ñ–∞–π–ª–∞:

from collections import namedtuple

headers = ('name', 'surname', 'age', 'class')

Student = namedtuple('Student', headers)
–ü–æ—Å–∫–æ–ª—å–∫—É –æ–¥–Ω–æ –ø–æ–ª–µ –∏–º–µ–µ—Ç –Ω–∞–∑–≤–∞–Ω–∏–µ class (–∫–ª—é—á–µ–≤–æ–µ —Å–ª–æ–≤–æ —è–∑—ã–∫–∞ Python) –º—ã –ø–æ–ª—É—á–∞–µ–º –æ—à–∏–±–∫—É: ValueError: Type names and field names cannot be a keyword: 'class'.

–ü—Ä–æ–±–ª–µ–º–∞ –∑–∞–∫–ª—é—á–∞–µ—Ç—Å—è –≤ —Ç–æ–º, —á—Ç–æ –º—ã –Ω–µ –∑–Ω–∞–µ–º, –±—É–¥—É—Ç –ª–∏ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –Ω–∞–∑–≤–∞–Ω–∏–π –ø–æ–ª–µ–π —É –Ω–∞—Å –∫–ª—é—á–µ–≤—ã–µ —Å–ª–æ–≤–∞ —è–∑—ã–∫–∞ Python –∏–ª–∏ –Ω–µ—Ç. –î–ª—è —Ä–µ—à–µ–Ω–∏—è –¥–∞–Ω–Ω–æ–π –ø—Ä–æ–±–ª–µ–º—ã –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ø–∞—Ä–∞–º–µ—Ç—Ä rename —Å–æ –∑–Ω–∞—á–µ–Ω–∏–µ–º True.

–ü—Ä–∏–≤–µ–¥–µ–Ω–Ω—ã–π –Ω–∏–∂–µ –∫–æ–¥:

from collections import namedtuple

headers = ('name', 'surname', 'age', 'class')

Student = namedtuple('Student', headers, rename=True)

stud = Student('–†–æ–º–∞–Ω', '–ë–µ–ª—ã—Ö', 26, 10)
print(stud)
–≤—ã–≤–æ–¥–∏—Ç:

Student(name='–†–æ–º–∞–Ω', surname='–ë–µ–ª—ã—Ö', age=26, _3=10)
–û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ —Ç–æ, —á—Ç–æ Python –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–ª –ø–æ–ª–µ class –≤ _3.

In [24]:
from collections import namedtuple

headers = ('name', 'surname', 'age', 'class', 'with', 'color', 'name', 'class', 'if')

Student = namedtuple('Student', headers, rename=True)

stud = Student('–¢–∏–º—É—Ä', '–ì—É–µ–≤', 28, 11, 'sister', 'green', 'Tim', '11A', 'else')
print(stud)

Student(name='–¢–∏–º—É—Ä', surname='–ì—É–µ–≤', age=28, _3=11, _4='sister', color='green', _6='Tim', _7='11A', _8='else')

In [25]:
# –ø–∞—Ä–∞–º–µ—Ç—Ä default –¥–ª—è –∑–Ω–∞—á–µ–Ω–∏–π 
from collections import namedtuple

Point = namedtuple('Point', ['x', 'y'], defaults=(0, 0))
point1 = Point()      # –∏—Å–ø–æ–ª—å–∑—É–µ–º –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é
point2 = Point(1, 9)

print(point1)
print(point2)

Point(x=0, y=0)
Point(x=1, y=9)

In [26]:
from collections import namedtuple

Movie = namedtuple('Movie', ['name', 'genres', 'director', 'imdb_rating'])

movie = Movie('La La Land', ['comedy', 'drama', 'musical'], 'Damien Chazelle', 8)

In [29]:
movie.name

'La La Land'

In [30]:
# –∏—Ç–µ—Ä–∏—Ä–æ–≤–∞–Ω–∏–µ –ø–æ –∏–º–µ–Ω–æ–≤–∞–Ω–Ω–æ–º—É –∫–æ—Ä—Ç–µ–∂—É

from collections import namedtuple

Weather = namedtuple('Weather', ['temp', 'wind', 'rain', 'cloud'])

tokyo_weather = Weather(11, 6, 0.0, 25)

for x in tokyo_weather:
    print(x)

11
6
0.0
25

In [31]:
from collections import namedtuple

Integer = namedtuple('Integer', ['value', 'even', 'divisors'])

number = Integer(16, True, [1, 2, 4])

number

Integer(value=16, even=True, divisors=[1, 2, 4])

–ò–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–µ –∫–æ—Ä—Ç–µ–∂–∏ –∏–º–µ—é—Ç –¥–≤–∞ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã—Ö –∞—Ç—Ä–∏–±—É—Ç–∞: **_fields –∏ _field_defaults**. 

- fields —Å–æ–¥–µ—Ä–∂–∏—Ç –∫–æ—Ä—Ç–µ–∂ —Å—Ç—Ä–æ–∫, –≤ –∫–æ—Ç–æ—Ä–æ–º –ø–µ—Ä–µ—á–∏—Å–ª–µ–Ω—ã –∏–º–µ–Ω–∞ –ø–æ–ª–µ–π. 

- field_defaults —Å–æ–¥–µ—Ä–∂–∏—Ç —Å–ª–æ–≤–∞—Ä—å, –∫–æ—Ç–æ—Ä—ã–π —Å–æ–ø–æ—Å—Ç–∞–≤–ª—è–µ—Ç –∏–º–µ–Ω–∞ –ø–æ–ª–µ–π —Å —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–∏–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é, –µ—Å–ª–∏ —Ç–∞–∫–æ–≤—ã–µ –∏–º–µ—é—Ç—Å—è.

In [32]:
from collections import namedtuple

Person = namedtuple('Person', ['name', 'age', 'height'])

tim = Person('–¢–∏–º—É—Ä', 29, 170)

print(tim)
print(tim._fields)
print(Person._fields)

Person(name='–¢–∏–º—É—Ä', age=29, height=170)
('name', 'age', 'height')
('name', 'age', 'height')

–° –ø–æ–º–æ—â—å—é –∞—Ç—Ä–∏–±—É—Ç–∞ _fields –º—ã –º–æ–∂–µ–º —Å–æ–∑–¥–∞–≤–∞—Ç—å –Ω–æ–≤—ã–µ –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–µ –∫–æ—Ä—Ç–µ–∂–∏ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ —É–∂–µ —Å—É—â–µ—Å—Ç–≤—É—é—â–∏—Ö. –í —Å–ª–µ–¥—É—é—â–µ–º –ø—Ä–∏–º–µ—Ä–µ –º—ã —Å–æ–∑–¥–∞–¥–∏–º –Ω–æ–≤—ã–π –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–π –∫–æ—Ä—Ç–µ–∂ —Å –∏–º–µ–Ω–µ–º ExtendedPerson, –∫–æ—Ç–æ—Ä—ã–π —Ä–∞—Å—à–∏—Ä—è–µ—Ç —Å—Ç–∞—Ä—ã–π Person –Ω–æ–≤—ã–º –ø–æ–ª–µ–º weight.

In [33]:
from collections import namedtuple

Person = namedtuple('Person', ['name', 'age', 'height'])

ExtendedPerson = namedtuple('ExtendedPerson', [*Person._fields, 'weight'])  # —Ä–∞—Å–ø–∞–∫–æ–≤–∫–∞ –ø–æ–ª–µ–π —Å—Ç–∞—Ä–æ–≥–æ –∫–æ—Ä—Ç–µ–∂–∞

timur = ExtendedPerson('–¢–∏–º—É—Ä', 29, 170, 65)

print(timur)
print(ExtendedPerson._fields)

ExtendedPerson(name='–¢–∏–º—É—Ä', age=29, height=170, weight=65)
('name', 'age', 'height', 'weight')

In [34]:
# –ø–µ—Ä–µ–±–æ—Ä –ø–æ–ª–µ–π (–∏–º–µ–Ω –∞—Ä–≥—É–º–µ–Ω—Ç–æ–≤) –¥–ª—è –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã—Ö –∫–æ—Ä—Ç–µ–∂–µ–π —á–µ—Ä–µ–∑ zip()

from collections import namedtuple

Person = namedtuple('Person', ['name', 'age', 'height'])

timur = Person('–¢–∏–º—É—Ä', 29, 170)

for field, value in zip(Person._fields, timur):
    print(field, '->', value)

name -> –¢–∏–º—É—Ä
age -> 29
height -> 170

In [35]:
# field_defaults —Å–æ–¥–µ—Ä–∂–∏—Ç —Å–ª–æ–≤–∞—Ä—å –∑–Ω–∞—á–µ–Ω–∏–π –∫–æ —É–º–æ–ª—á–∞–Ω–∏—é (–µ—Å–ª–∏ –∏—Ö –Ω–µ—Ç - –ø—É—Å—Ç–æ–π —Å–ª–æ–≤–∞—Ä—å)

from collections import namedtuple

Person = namedtuple('Person', ['name', 'age', 'height', 'country'], defaults=['Russia'])

timur = Person('–¢–∏–º—É—Ä', 29, 170)

print(timur)
print(timur._field_defaults)
print(Person._field_defaults)

print() 
from collections import namedtuple

Person = namedtuple('Person', ['name', 'age', 'height', 'country'])

timur = Person('–¢–∏–º—É—Ä', 29, 170, 'Russia')

print(Person._field_defaults)   # –≤—ã–≤–µ–¥–µ—Ç –ø—É—Å—Ç–æ–π —Å–ª–æ–≤–∞—Ä—å

Person(name='–¢–∏–º—É—Ä', age=29, height=170, country='Russia')
{'country': 'Russia'}
{'country': 'Russia'}

{}

–ö–æ—Ä—Ç–µ–∂–∏ –∏–º–µ—é—Ç –¥–≤–∞ –æ—Å–Ω–æ–≤–Ω—ã—Ö –º–µ—Ç–æ–¥–∞:
1) index (x) –Ω–∞–π–¥–µ—Ç –∏–Ω–¥–µ–∫—Å –∑–∞–¥–∞–Ω–Ω–æ–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞
2) count(x) –ø–æ—Å—á–∏—Ç–∞–µ—Ç —á–∏—Å–ª–æ –≤—Ö–æ–∂–¥–µ–Ω–∏–π –• –≤ –∫–æ—Ä—Ç–µ–∂–µ

+ –≤ –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã—Ö –∫–æ—Ä—Ç–µ–∂–∞—Ö –¥–æ–±–∞–≤–ª—è—é—Ç—Å—è:
3) _make() –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è —Å–æ–∑–¥–∞–Ω–∏—è –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã—Ö –∫–æ—Ä—Ç–µ–∂–µ–π –∏–∑ –∏—Ç–µ—Ä–∏—Ä—É–µ–º—ã—Ö –æ–±—ä–µ–∫—Ç–æ–≤ (—Å–ø–∏—Å–æ–∫, –∫–æ—Ä—Ç–µ–∂, —Å—Ç—Ä–æ–∫–∞, —Å–ª–æ–≤–∞—Ä—å –∏ —Ç.–¥.).

4) _asdict() –º–µ—Ç–æ–¥ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Å–ª–æ–≤–∞—Ä—å, –≤ –∫–æ—Ç–æ—Ä–æ–º –∏–º–µ–Ω–∞ –ø–æ–ª–µ–π –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∫–ª—é—á–µ–π. –ö–ª—é—á–∏ —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–µ–≥–æ —Å–ª–æ–≤–∞—Ä—è –Ω–∞—Ö–æ–¥—è—Ç—Å—è –≤ —Ç–æ–º –∂–µ –ø–æ—Ä—è–¥–∫–µ, —á—Ç–æ –∏ –ø–æ–ª—è –≤ –∏—Å—Ö–æ–¥–Ω–æ–º –∏–º–µ–Ω–æ–≤–∞–Ω–Ω–æ–º –∫–æ—Ä—Ç–µ–∂–µ

5) _replace() –ø–æ–∑–≤–æ–ª—è–µ—Ç —Å–æ–∑–¥–∞–≤–∞—Ç—å –Ω–æ–≤—ã–µ –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–µ –∫–æ—Ä—Ç–µ–∂–∏ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ —É–∂–µ —Å—É—â–µ—Å—Ç–≤—É—é—â–∏—Ö —Å –∑–∞–º–µ–Ω–æ–π –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π. –ü–æ—Ç—Ä–µ–±–Ω–æ—Å—Ç—å –≤ –¥–∞–Ω–Ω–æ–º –º–µ—Ç–æ–¥–µ –≤—ã–∑–≤–∞–Ω–∞ —Ç–µ–º, —á—Ç–æ –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–µ –∫–æ—Ä—Ç–µ–∂–∏ —è–≤–ª—è—é—Ç—Å—è –Ω–µ–∏–∑–º–µ–Ω—è–µ–º—ã–º–∏

In [36]:
from collections import namedtuple

Person = namedtuple('Person', ['name', 'age', 'height'])

timur = Person._make(['Timur', 29, 170])

print(timur)

Person(name='Timur', age=29, height=170)

In [37]:
from collections import namedtuple

Person = namedtuple('Person', ['name', 'age', 'height'])

timur = Person._make(['Timur', 29, 170])

print(timur._asdict())

{'name': 'Timur', 'age': 29, 'height': 170}

In [39]:
# –∏–∑–º–µ–Ω–∏—Ç—å –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–π –∫–æ—Ä—Ç–µ–∂ 
from collections import namedtuple

Person = namedtuple('Person', ['name', 'age', 'height', 'country'])

timur1 = Person('–¢–∏–º—É—Ä', 29, 170, 'Russia')
timur2 = timur1._replace(age=30, country='Germany')

print(timur1)
print(timur2)

Person(name='–¢–∏–º—É—Ä', age=29, height=170, country='Russia')
Person(name='–¢–∏–º—É—Ä', age=30, height=170, country='Germany')

### –ó–∞–¥–∞—á–∏ –Ω–∞ namedtuple

        –í–∞–º –¥–æ—Å—Ç—É–ø–µ–Ω –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–π –∫–æ—Ä—Ç–µ–∂ Animal, –∫–æ—Ç–æ—Ä—ã–π —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∂–∏–≤–æ—Ç–Ω–æ–º. –ü–µ—Ä–≤—ã–º —ç–ª–µ–º–µ–Ω—Ç–æ–º –∏–º–µ–Ω–æ–≤–∞–Ω–Ω–æ–≥–æ –∫–æ—Ä—Ç–µ–∂–∞ —è–≤–ª—è–µ—Ç—Å—è –∏–º—è –∂–∏–≤–æ—Ç–Ω–æ–≥–æ, –≤—Ç–æ—Ä—ã–º ‚Äî —Å–µ–º–µ–π—Å—Ç–≤–æ, —Ç—Ä–µ—Ç—å–∏–º ‚Äî –ø–æ–ª, —á–µ—Ç–≤–µ—Ä—Ç—ã–º ‚Äî —Ü–≤–µ—Ç. –¢–∞–∫–∂–µ –¥–æ—Å—Ç—É–ø–µ–Ω —Ñ–∞–π–ª data.pkl, —Å–æ–¥–µ—Ä–∂–∞—â–∏–π —Å–µ—Ä–∏–∞–ª–∏–∑–æ–≤–∞–Ω–Ω—ã–π —Å–ø–∏—Å–æ–∫ —Ç–∞–∫–∏—Ö –∫–æ—Ä—Ç–µ–∂–µ–π.

        –î–æ–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–∏–≤–µ–¥–µ–Ω–Ω—ã–π –Ω–∏–∂–µ –∫–æ–¥, —á—Ç–æ–±—ã –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∫–æ—Ä—Ç–µ–∂–∞ –∏–∑ —ç—Ç–æ–≥–æ —Å–ø–∏—Å–∫–∞ –æ–Ω –≤—ã–≤–µ–ª –Ω–∞–∑–≤–∞–Ω–∏—è –µ–≥–æ –ø–æ–ª–µ–π –∏ –∑–Ω–∞—á–µ–Ω–∏—è —ç—Ç–∏—Ö –ø–æ–ª–µ–π –≤ —Å–ª–µ–¥—É—é—â–µ–º —Ñ–æ—Ä–º–∞—Ç–µ:

        name: <–∑–Ω–∞—á–µ–Ω–∏–µ>
        family: <–∑–Ω–∞—á–µ–Ω–∏–µ>
        sex: <–∑–Ω–∞—á–µ–Ω–∏–µ>
        color: <–∑–Ω–∞—á–µ–Ω–∏–µ>

In [40]:
import pickle
from collections import namedtuple
Animal = namedtuple('Animal', ['name', 'family', 'sex', 'color'])

with open('/Users/tony_builder/Documents/GitHub/studying/Python_stepic_beegeek/python for professional/data/data.pkl',
           mode='rb') as file:
    animals = pickle.load(file)

animals

[Animal(name='Alex', family='dogs', sex='m', color='brown'),
 Animal(name='Nancy', family='cats', sex='w', color='white'),
 Animal(name='Sam', family='dogs', sex='m', color='brown'),
 Animal(name='Misha', family='hedgehogs', sex='m', color='black'),
 Animal(name='Fredd', family='cats', sex='m', color='white'),
 Animal(name='Python', family='snakes', sex='w', color='white'),
 Animal(name='Crispy', family='cats', sex='w', color='white'),
 Animal(name='Adam', family='hedgehogs', sex='m', color='black'),
 Animal(name='Daddy', family='snakes', sex='m', color='brown'),
 Animal(name='Mickey', family='hedgehogs', sex='m', color='brown'),
 Animal(name='Tom', family='cats', sex='m', color='white'),
 Animal(name='Jerry', family='snakes', sex='m', color='brown'),
 Animal(name='Chip', family='hedgehogs', sex='m', color='white')]

In [71]:
def unpack_dict(smdct):
    return [f'{item[0]}: {item[1]}' for item in smdct.items()]

In [81]:
unpacked_animals = [unpack_dict(animal._asdict()) for animal in animals]
for animal in unpacked_animals:
    print(*animal, sep='\n')
    print()

name: Alex
family: dogs
sex: m
color: brown

name: Nancy
family: cats
sex: w
color: white

name: Sam
family: dogs
sex: m
color: brown

name: Misha
family: hedgehogs
sex: m
color: black

name: Fredd
family: cats
sex: m
color: white

name: Python
family: snakes
sex: w
color: white

name: Crispy
family: cats
sex: w
color: white

name: Adam
family: hedgehogs
sex: m
color: black

name: Daddy
family: snakes
sex: m
color: brown

name: Mickey
family: hedgehogs
sex: m
color: brown

name: Tom
family: cats
sex: m
color: white

name: Jerry
family: snakes
sex: m
color: brown

name: Chip
family: hedgehogs
sex: m
color: white

        –í–∞–º –¥–æ—Å—Ç—É–ø–µ–Ω –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–π –∫–æ—Ä—Ç–µ–∂ User, –∫–æ—Ç–æ—Ä—ã–π —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ –Ω–µ–∫–æ—Ç–æ—Ä–æ–≥–æ —Ä–µ—Å—É—Ä—Å–∞. –ü–µ—Ä–≤—ã–º —ç–ª–µ–º–µ–Ω—Ç–æ–º –∏–º–µ–Ω–æ–≤–∞–Ω–Ω–æ–≥–æ –∫–æ—Ä—Ç–µ–∂–∞ —è–≤–ª—è–µ—Ç—Å—è –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –≤—Ç–æ—Ä—ã–º ‚Äî —Ñ–∞–º–∏–ª–∏—è, —Ç—Ä–µ—Ç—å–∏–º ‚Äî –∞–¥—Ä–µ—Å —ç–ª–µ–∫—Ç—Ä–æ–Ω–Ω–æ–π –ø–æ—á—Ç—ã, —á–µ—Ç–≤–µ—Ä—Ç—ã–º ‚Äî —Å—Ç–∞—Ç—É—Å –æ—Ñ–æ—Ä–º–ª–µ–Ω–Ω–æ–π –ø–æ–¥–ø–∏—Å–∫–∏. –¢–∞–∫–∂–µ –¥–æ—Å—Ç—É–ø–µ–Ω —Å–ø–∏—Å–æ–∫ users, —Å–æ–¥–µ—Ä–∂–∞—â–∏–π —ç—Ç–∏ –∫–æ—Ä—Ç–µ–∂–∏.

        –î–æ–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–∏–≤–µ–¥–µ–Ω–Ω—ã–π –Ω–∏–∂–µ –∫–æ–¥, —á—Ç–æ–±—ã –æ–Ω –≤—ã–≤–µ–ª –¥–∞–Ω–Ω—ã–µ –æ –∫–∞–∂–¥–æ–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ –∏–∑ —ç—Ç–æ–≥–æ —Å–ø–∏—Å–∫–∞, –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–≤ –∏—Ö –ø–æ —Å—Ç–∞—Ç—É—Å—É –ø–æ–¥–ø–∏—Å–∫–∏ –æ—Ç –¥–æ—Ä–æ–≥–æ–π –∫ –¥–µ—à–µ–≤–æ–π, –∞ –ø—Ä–∏ —Å–æ–≤–ø–∞–¥–µ–Ω–∏–∏ —Å—Ç–∞—Ç—É—Å–æ–≤ ‚Äî –≤ –ª–µ–∫—Å–∏–∫–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–º –ø–æ—Ä—è–¥–∫–µ –∞–¥—Ä–µ—Å–æ–≤ —ç–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ã—Ö –ø–æ—á—Ç. –î–∞–Ω–Ω—ã–µ –æ –∫–∞–∂–¥–æ–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å —É–∫–∞–∑–∞–Ω—ã –≤ —Å–ª–µ–¥—É—é—â–µ–º —Ñ–æ—Ä–º–∞—Ç–µ:

        <–∏–º—è> <—Ñ–∞–º–∏–ª–∏—è>
        Email: <–∞–¥—Ä–µ—Å —ç–ª–µ–∫—Ç—Ä–æ–Ω–Ω–æ–π –ø–æ—á—Ç—ã>
        Plan: <—Å—Ç–∞—Ç—É—Å –ø–æ–¥–ø–∏—Å–∫–∏>
        –ú–µ–∂–¥—É –¥–∞–Ω–Ω—ã–º–∏ –¥–≤—É—Ö —Ä–∞–∑–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –¥–æ–ª–∂–Ω–∞ —Ä–∞—Å–ø–æ–ª–∞–≥–∞—Ç—å—Å—è –ø—É—Å—Ç–∞—è —Å—Ç—Ä–æ–∫–∞.

In [87]:
from collections import namedtuple

User = namedtuple('User', ['name', 'surname', 'email', 'plan'])

users = [User('Mary', 'Griffin', 'sonnen@yahoo.com', 'Basic'),
         User('Brenda', 'Young', 'retoh@outlook.com', 'Silver'),
         User('Kathleen', 'Lyons', 'balchen@att.net', 'Gold'),
         User('Pamela', 'Hicks', 'corrada@sbcglobal.net', 'Silver'),
         User('William', 'Townsend', 'kosact@verizon.net', 'Gold'),
         User('Clayton', 'Morris', 'berserk@yahoo.com', 'Silver'),
         User('Dorothy', 'Dennis', 'sequin@live.com', 'Gold'),
         User('Tyler', 'Walker', 'noahb@comcast.net', 'Basic'),
         User('Joseph', 'Moore', 'ylchang@sbcglobal.net', 'Silver'),
         User('Kenneth', 'Richardson', 'tbusch@me.com', 'Bronze'),
         User('Stephanie', 'Bush', 'neuffer@live.com', 'Gold'),
         User('Gregory', 'Hughes', 'juliano@att.net', 'Basic'),
         User('Tracy', 'Wallace', 'sblack@me.com', 'Silver'),
         User('Russell', 'Smith', 'isaacson@comcast.net', 'Bronze'),
         User('Megan', 'Patterson', 'hoangle@outlook.com', 'Basic')]

# –≤—ã—Ç–∞—â–∏–º —Ç–æ–ª—å–∫–æ –∑–Ω–∞—á–µ–Ω–∏—è –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã—Ö –∫–æ—Ä—Ç–µ–∂–µ–π

unpacked_users = [list(user._asdict().values()) for user in users]

unpacked_users

[['Mary', 'Griffin', 'sonnen@yahoo.com', 'Basic'],
 ['Brenda', 'Young', 'retoh@outlook.com', 'Silver'],
 ['Kathleen', 'Lyons', 'balchen@att.net', 'Gold'],
 ['Pamela', 'Hicks', 'corrada@sbcglobal.net', 'Silver'],
 ['William', 'Townsend', 'kosact@verizon.net', 'Gold'],
 ['Clayton', 'Morris', 'berserk@yahoo.com', 'Silver'],
 ['Dorothy', 'Dennis', 'sequin@live.com', 'Gold'],
 ['Tyler', 'Walker', 'noahb@comcast.net', 'Basic'],
 ['Joseph', 'Moore', 'ylchang@sbcglobal.net', 'Silver'],
 ['Kenneth', 'Richardson', 'tbusch@me.com', 'Bronze'],
 ['Stephanie', 'Bush', 'neuffer@live.com', 'Gold'],
 ['Gregory', 'Hughes', 'juliano@att.net', 'Basic'],
 ['Tracy', 'Wallace', 'sblack@me.com', 'Silver'],
 ['Russell', 'Smith', 'isaacson@comcast.net', 'Bronze'],
 ['Megan', 'Patterson', 'hoangle@outlook.com', 'Basic']]

In [83]:
status_dict = {'Gold':1, 'Silver':2, 'Bronze':3, 'Basic':4}

In [89]:
# —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ —Å–ø–∏—Å–æ–∫ —Å–ø–∏—Å–∫–æ–≤ –ø–æ –¥–≤—É–º –∫–ª—é—á–∞–º (—Å—Ç–∞—Ç—É—Å –∏ –∏–º—è –ø–æ—á—Ç—ã)
for user in sorted(unpacked_users, key= lambda x: [status_dict.get(x[3]), x[2]]):
    print(f'{user[0]} {user[1]}')
    print(f'  Email: {user[2]}')
    print(f'  Plan: {user[3]}')
    print()

Kathleen Lyons
  Email: balchen@att.net
  Plan: Gold

William Townsend
  Email: kosact@verizon.net
  Plan: Gold

Stephanie Bush
  Email: neuffer@live.com
  Plan: Gold

Dorothy Dennis
  Email: sequin@live.com
  Plan: Gold

Clayton Morris
  Email: berserk@yahoo.com
  Plan: Silver

Pamela Hicks
  Email: corrada@sbcglobal.net
  Plan: Silver

Brenda Young
  Email: retoh@outlook.com
  Plan: Silver

Tracy Wallace
  Email: sblack@me.com
  Plan: Silver

Joseph Moore
  Email: ylchang@sbcglobal.net
  Plan: Silver

Russell Smith
  Email: isaacson@comcast.net
  Plan: Bronze

Kenneth Richardson
  Email: tbusch@me.com
  Plan: Bronze

Megan Patterson
  Email: hoangle@outlook.com
  Plan: Basic

Gregory Hughes
  Email: juliano@att.net
  Plan: Basic

Tyler Walker
  Email: noahb@comcast.net
  Plan: Basic

Mary Griffin
  Email: sonnen@yahoo.com
  Plan: Basic

–ü–æ–ø—Ä–æ–±—É–µ–º –¥—Ä—É–≥–æ–µ —Ä–µ—à–µ–Ω–∏–µ

In [101]:
from collections import namedtuple

User = namedtuple('User', ['name', 'surname', 'email', 'plan'])

users = [User('Mary', 'Griffin', 'sonnen@yahoo.com', 'Basic'),
         User('Brenda', 'Young', 'retoh@outlook.com', 'Silver'),
         User('Kathleen', 'Lyons', 'balchen@att.net', 'Gold'),
         User('Pamela', 'Hicks', 'corrada@sbcglobal.net', 'Silver'),
         User('William', 'Townsend', 'kosact@verizon.net', 'Gold'),
         User('Clayton', 'Morris', 'berserk@yahoo.com', 'Silver'),
         User('Dorothy', 'Dennis', 'sequin@live.com', 'Gold'),
         User('Tyler', 'Walker', 'noahb@comcast.net', 'Basic'),
         User('Joseph', 'Moore', 'ylchang@sbcglobal.net', 'Silver'),
         User('Kenneth', 'Richardson', 'tbusch@me.com', 'Bronze'),
         User('Stephanie', 'Bush', 'neuffer@live.com', 'Gold'),
         User('Gregory', 'Hughes', 'juliano@att.net', 'Basic'),
         User('Tracy', 'Wallace', 'sblack@me.com', 'Silver'),
         User('Russell', 'Smith', 'isaacson@comcast.net', 'Bronze'),
         User('Megan', 'Patterson', 'hoangle@outlook.com', 'Basic')]

# —Å–æ—Ä—Ç–∏—Ä—É–µ–º —Å—Ä–∞–∑—É –∂–µ —Å–ø–∏—Å–æ–∫ –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã—Ö –∫–æ—Ä—Ç–µ–∂–∏ (—É–¥–æ–±–Ω–µ–µ)
sorted_users = sorted(users, key=lambda x: (('Gold', 'Silver', 'Bronze', 'Basic').index(x.plan), x.email))

for user in sorted_users:
    print(f'{user.name} {user.surname}')
    print(f'  {user._fields[2].capitalize()}: {user.email}')
    print(f'  {user._fields[3].capitalize()}: {user.plan}')
    print()

Kathleen Lyons
  Email: balchen@att.net
  Plan: Gold

William Townsend
  Email: kosact@verizon.net
  Plan: Gold

Stephanie Bush
  Email: neuffer@live.com
  Plan: Gold

Dorothy Dennis
  Email: sequin@live.com
  Plan: Gold

Clayton Morris
  Email: berserk@yahoo.com
  Plan: Silver

Pamela Hicks
  Email: corrada@sbcglobal.net
  Plan: Silver

Brenda Young
  Email: retoh@outlook.com
  Plan: Silver

Tracy Wallace
  Email: sblack@me.com
  Plan: Silver

Joseph Moore
  Email: ylchang@sbcglobal.net
  Plan: Silver

Russell Smith
  Email: isaacson@comcast.net
  Plan: Bronze

Kenneth Richardson
  Email: tbusch@me.com
  Plan: Bronze

Megan Patterson
  Email: hoangle@outlook.com
  Plan: Basic

Gregory Hughes
  Email: juliano@att.net
  Plan: Basic

Tyler Walker
  Email: noahb@comcast.net
  Plan: Basic

Mary Griffin
  Email: sonnen@yahoo.com
  Plan: Basic

–ø–µ—á–∞—Ç—å f-—Å—Ç—Ä–æ–∫–∏ f-string - –∏—Å–ø–æ–ª—å–∑—É–π —ç–∫—Ä–∞–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ —Ç—Ä–µ–º—è –∫–∞–≤—ã—á–∫–∞–º–∏!

In [100]:
# –ø–µ—á–∞—Ç—å f-—Å—Ç—Ä–æ–∫–∏ —Å—Ä–∞–∑—É –≤ —É–¥–æ–±–Ω–æ–º –≤–∏–¥–µ –ø–µ—Ä–µ–Ω–æ—Å–∞ —Å–æ —Å—Ç—Ä–æ–∫–∏ –Ω–∞ —Å—Ç—Ä–æ–∫—É!!
"""
print(f'''{name} {surname}
  Email: {email}
  Plan: {plan}\n''') """

Kathleen Lyons
  Email: balchen@att.net
  Plan: Gold

William Townsend
  Email: kosact@verizon.net
  Plan: Gold

Stephanie Bush
  Email: neuffer@live.com
  Plan: Gold

Dorothy Dennis
  Email: sequin@live.com
  Plan: Gold

Clayton Morris
  Email: berserk@yahoo.com
  Plan: Silver

Pamela Hicks
  Email: corrada@sbcglobal.net
  Plan: Silver

Brenda Young
  Email: retoh@outlook.com
  Plan: Silver

Tracy Wallace
  Email: sblack@me.com
  Plan: Silver

Joseph Moore
  Email: ylchang@sbcglobal.net
  Plan: Silver

Russell Smith
  Email: isaacson@comcast.net
  Plan: Bronze

Kenneth Richardson
  Email: tbusch@me.com
  Plan: Bronze

Megan Patterson
  Email: hoangle@outlook.com
  Plan: Basic

Gregory Hughes
  Email: juliano@att.net
  Plan: Basic

Tyler Walker
  Email: noahb@comcast.net
  Plan: Basic

Mary Griffin
  Email: sonnen@yahoo.com
  Plan: Basic